node-red 28.07.2021.json
[{"id":"4a76e9d0.c082a8","type":"tab","label":"Поток ","disabled":false,"info":""},{"id":"cc354cd5.405b1","type":"tab","label":"Уставки","disabled":false,"info":""},{"id":"835154cf.f74e08","type":"tab","label":"Маски","disabled":false,"info":""},{"id":"42ed1122.2bf6c","type":"tab","label":"Log","disabled":false,"info":""},{"id":"6b04aa9f.84f134","type":"tab","label":"REST API v2","disabled":true,"info":""},{"id":"2990a582.f179aa","type":"tab","label":"REST API v1","disabled":true,"info":""},{"id":"62bbc46.33bcf3c","type":"tab","label":"Loss of connection","disabled":false,"info":""},{"id":"e80b9924.848358","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d74e3c3e.d424c","type":"mqtt-broker","name":"test","broker":"192.168.20.72","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8686fae6.2ceb18","type":"mqtt-broker","name":"","broker":"192.168.137.2","port":"1883","clientid":"client5","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d66a0216.351b1","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"Host","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d198427c.7492d","type":"mongodb3","uri":"mongodb://localhost:27017/test","name":"База","options":"","parallelism":"-1"},{"id":"867ae11a.dd969","type":"ui_tab","name":"SHT31 исторические данные","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"305cf957.0eb7e6","type":"ui_tab","name":"Система мониторинга оборудования","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"95fd1c52.5eea3","type":"ui_tab","name":"SHT31 данные в реальном времени","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"21e2df48.3e44f","type":"ui_group","name":"","tab":"867ae11a.dd969","order":1,"disp":true,"width":30,"collapse":false},{"id":"34103759.036488","type":"ui_group","name":"","tab":"305cf957.0eb7e6","order":1,"disp":true,"width":27,"collapse":false},{"id":"a81dfb22.0ac0b8","type":"ui_group","name":"","tab":"95fd1c52.5eea3","order":1,"disp":false,"width":30,"collapse":false},{"id":"839e3368.bd0e","type":"ui_group","name":"","tab":"","order":1,"disp":true,"width":24,"collapse":false},{"id":"3852e8a9.f6ee68","type":"ui_group","name":"","tab":"","order":1,"disp":true,"width":24,"collapse":false},{"id":"c793a703.b62668","type":"ui_group","name":"","tab":"","order":1,"disp":true,"width":30,"collapse":false},{"id":"49e73ad2.286994","type":"mqtt-broker","name":"","broker":"192.168.20.72","port":"1883","clientid":"client5","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8bc7b3f8.89bb6","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#4e456e","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#e3e3e3","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#e3e3e3","edited":true},"page-titlebar-backgroundColor":{"value":"#3c3c3c","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#707070","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#3c3c3c","edited":true},"widget-backgroundColor":{"value":"#3c3c3c","edited":true},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"675821f7.af4ff","type":"ui_group","name":"Виджеты","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"39aca40e.217b3c","type":"mongodb3","uri":"mongodb://localhost:27017/test","name":"","options":"","parallelism":"-1"},{"id":"beba190d.c14cb8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"Host4","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b68a8141.d9ff9","type":"ui_tab","name":"Сохранение уставок","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"913c7865.fa21a8","type":"ui_tab","name":"Маски","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"a7fe74fe.4c1c48","type":"ui_group","name":"","tab":"b68a8141.d9ff9","order":1,"disp":true,"width":"25","collapse":false},{"id":"9acfe528.d03d08","type":"ui_spacer","z":"835154cf.f74e08","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"552e5d9d.ce43e4","type":"ui_spacer","z":"835154cf.f74e08","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"2ac6dbfb.a20d94","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"Host2","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"de3eb7f3.879598","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"Host3","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"33d64969.286246","type":"ui_tab","name":"PPD42","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"a0f9bc80.ed589","type":"ui_group","name":"","tab":"33d64969.286246","order":1,"disp":true,"width":30,"collapse":false},{"id":"5adcceb8.ea905","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"1f8015e.4bb78ea","order":1,"width":1,"height":1},{"id":"b9ee9b53.b5d4a8","type":"ui_tab","name":"BME280","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"8d62a2d8.9a968","type":"ui_group","name":"","tab":"b9ee9b53.b5d4a8","order":1,"disp":true,"width":30,"collapse":false},{"id":"f5a77f9b.c304c","type":"ui_tab","name":"BLG33","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"13e67b03.699895","type":"ui_group","name":"","tab":"f5a77f9b.c304c","order":1,"disp":true,"width":30,"collapse":false},{"id":"a8b0be2e.5ebce","type":"ui_group","name":"","tab":"913c7865.fa21a8","order":1,"disp":true,"width":30,"collapse":false},{"id":"82cb1771.b8e138","type":"ui_tab","name":"BME280 исторические данные","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"39d730c6.37e62","type":"ui_group","name":"","tab":"82cb1771.b8e138","order":1,"disp":true,"width":30,"collapse":false},{"id":"9b304db5.20dd","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"21e2df48.3e44f","order":2,"width":30,"height":1},{"id":"919f0abc.ac8398","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"21e2df48.3e44f","order":5,"width":26,"height":1},{"id":"8296a06.042786","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"21e2df48.3e44f","order":6,"width":30,"height":1},{"id":"983a6003.805e6","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"21e2df48.3e44f","order":9,"width":26,"height":1},{"id":"d3f7ca5f.ffa1d8","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":1,"width":30,"height":1},{"id":"7043188c.d5baf8","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":3,"width":30,"height":1},{"id":"f7ab96a8.467fd8","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":5,"width":6,"height":1},{"id":"ff566ef1.7defc","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":6,"width":6,"height":1},{"id":"b678c17d.5402","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":8,"width":6,"height":1},{"id":"2cce80cc.93497","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":9,"width":6,"height":1},{"id":"768513d8.efb95c","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":10,"width":30,"height":1},{"id":"68d44265.d7244c","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":11,"width":30,"height":1},{"id":"3fae5644.be633a","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":13,"width":6,"height":1},{"id":"3e84e4d4.bf319c","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":14,"width":6,"height":1},{"id":"d3e13fa5.c33a1","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":16,"width":6,"height":1},{"id":"93cfe0fd.c0ca3","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a81dfb22.0ac0b8","order":17,"width":6,"height":1},{"id":"be8c4293.2a313","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"8d62a2d8.9a968","order":2,"width":30,"height":1},{"id":"d651e843.770488","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"8d62a2d8.9a968","order":4,"width":6,"height":1},{"id":"3482b4b9.89d1ac","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"8d62a2d8.9a968","order":5,"width":6,"height":1},{"id":"b1cddd4.94c3b2","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"8d62a2d8.9a968","order":7,"width":6,"height":1},{"id":"553e5ed5.eb128","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"8d62a2d8.9a968","order":8,"width":6,"height":1},{"id":"1cf25482.07d67b","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":2,"width":30,"height":1},{"id":"18ad955e.a614db","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":4,"width":6,"height":1},{"id":"a8380959.275d48","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":5,"width":6,"height":1},{"id":"6f0777bf.b66038","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":6,"width":6,"height":1},{"id":"c23fd20a.3f5f","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":7,"width":6,"height":1},{"id":"62afb39f.cbd14c","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":8,"width":6,"height":1},{"id":"3f82f93e.e60ef6","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":9,"width":6,"height":1},{"id":"e7777d74.ccbb1","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":10,"width":6,"height":1},{"id":"e7c7947e.7d3148","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"39d730c6.37e62","order":12,"width":25,"height":1},{"id":"ee991a15.cff688","type":"ui_tab","name":"PPD42 исторические данные","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"9326b2ed.3c07","type":"ui_group","name":"","tab":"ee991a15.cff688","order":1,"disp":true,"width":30,"collapse":false},{"id":"f6596f9a.8bbe3","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a0f9bc80.ed589","order":3,"width":6,"height":1},{"id":"63d1b944.ee9a48","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a0f9bc80.ed589","order":4,"width":6,"height":1},{"id":"a4e8d663.1babe8","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a0f9bc80.ed589","order":6,"width":6,"height":1},{"id":"bd41cef5.3442f","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a0f9bc80.ed589","order":7,"width":6,"height":1},{"id":"439e6f00.71331","type":"ui_tab","name":"BLG33 исторические данные","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"a11a850e.501798","type":"ui_group","name":"","tab":"439e6f00.71331","order":1,"disp":true,"width":30,"collapse":false},{"id":"663db3fa.cf3efc","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"13e67b03.699895","order":2,"width":30,"height":1},{"id":"291fe414.8e2d7c","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"13e67b03.699895","order":4,"width":6,"height":1},{"id":"1d3e08a5.1bb397","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"13e67b03.699895","order":5,"width":6,"height":1},{"id":"dbd381e0.091b7","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"13e67b03.699895","order":7,"width":6,"height":1},{"id":"69cc5b5e.d99664","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"13e67b03.699895","order":8,"width":6,"height":1},{"id":"d6855fad.6a7c6","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"9326b2ed.3c07","order":3,"width":6,"height":1},{"id":"85dc77fe.88e828","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"9326b2ed.3c07","order":4,"width":6,"height":1},{"id":"4f985a3a.331f64","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"9326b2ed.3c07","order":5,"width":6,"height":1},{"id":"b10796.e9edb868","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"9326b2ed.3c07","order":6,"width":6,"height":1},{"id":"776ac071.1009d","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"9326b2ed.3c07","order":7,"width":6,"height":1},{"id":"46b05463.90a08c","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"9326b2ed.3c07","order":8,"width":6,"height":1},{"id":"5eeeb319.b7047c","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"9326b2ed.3c07","order":9,"width":6,"height":1},{"id":"45cb5802.218ff8","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"9326b2ed.3c07","order":11,"width":25,"height":1},{"id":"7bd7102.5d05af","type":"ui_spacer","z":"4a76e9d0.c082a8","name":"spacer","group":"a8b0be2e.5ebce","order":2,"width":4,"height":1},{"id":"dfb015cd.e169d8","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":2,"width":1,"height":1},{"id":"e6837fb.4403c8","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":4,"width":1,"height":1},{"id":"ba8b40d6.eb88d","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":6,"width":1,"height":1},{"id":"7e7de595.bf13dc","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":9,"width":1,"height":1},{"id":"96c0b0a4.d62e5","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":11,"width":1,"height":1},{"id":"bb06daa7.bcf0f8","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":13,"width":1,"height":1},{"id":"b5c984e.2a6c678","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":15,"width":1,"height":1},{"id":"5221a7c5.a55858","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":16,"width":1,"height":1},{"id":"de5b6aa.2365598","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":17,"width":1,"height":1},{"id":"a2caf3fa.7acff","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":18,"width":1,"height":1},{"id":"1a41df6b.c35921","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":19,"width":1,"height":1},{"id":"22eaff35.a034c","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":20,"width":1,"height":1},{"id":"9dcda14b.2f6cf","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":21,"width":1,"height":1},{"id":"462e15f2.cbfa5c","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":22,"width":1,"height":1},{"id":"8715c4ba.6525f8","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":23,"width":1,"height":1},{"id":"61fa7d42.219ee4","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":24,"width":1,"height":1},{"id":"2c193196.c1dcce","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":25,"width":1,"height":1},{"id":"42497020.11eaf","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":26,"width":1,"height":1},{"id":"ed7dd506.6dc988","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":27,"width":1,"height":1},{"id":"648fdf98.11ca7","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":28,"width":1,"height":1},{"id":"20a1e753.86b058","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":29,"width":1,"height":1},{"id":"4951482.71879b8","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":31,"width":1,"height":1},{"id":"24fa5602.78753a","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":33,"width":1,"height":1},{"id":"19920e74.e12782","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":35,"width":1,"height":1},{"id":"3c0e9c03.91a6e4","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":37,"width":1,"height":1},{"id":"b4a1b922.c5d168","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":38,"width":1,"height":1},{"id":"5a0e63a5.e7f78c","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":39,"width":1,"height":1},{"id":"4cdd6b45.98af94","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":40,"width":1,"height":1},{"id":"33c4cc4a.fbdad4","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":41,"width":1,"height":1},{"id":"8bf72bea.516f98","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":42,"width":1,"height":1},{"id":"8b928467.b6ed68","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":44,"width":21,"height":1},{"id":"10941422.d2e35c","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":45,"width":21,"height":1},{"id":"24dfeb80.8d8d84","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":46,"width":21,"height":1},{"id":"e8fa09b9.7adf88","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":47,"width":27,"height":1},{"id":"dfdaa428.1e66e8","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"34103759.036488","order":48,"width":27,"height":1},{"id":"8084cdd2.079cb","type":"ui_spacer","z":"cc354cd5.405b1","name":"spacer","group":"a7fe74fe.4c1c48","order":7,"width":25,"height":1},{"id":"95d06f9c.6982f","type":"mqtt in","z":"4a76e9d0.c082a8","name":"","topic":"устройство/+/температура","qos":"2","datatype":"json","broker":"d66a0216.351b1","nl":false,"rap":true,"rh":0,"x":160,"y":80,"wires":[["247c026b.6e6ace"]]},{"id":"ad4bd60e.30ffd8","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\n\nmsg.payload = PV\n\nif (state != 10){\n   return msg;\n} else {\n    return null\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":140,"wires":[["545d1122.a306d"]]},{"id":"5d2671dd.c3904","type":"ui_button","z":"4a76e9d0.c082a8","name":"SHT31","group":"34103759.036488","order":1,"width":6,"height":1,"passthru":false,"label":"SHT31","tooltip":"SHT31","color":"","bgcolor":"","icon":"","payload":"SHT31 данные в реальном времени","payloadType":"str","topic":"topic","topicType":"msg","x":2140,"y":80,"wires":[["a515823f.e9e37"]]},{"id":"90f8369e.b985d8","type":"ui_button","z":"4a76e9d0.c082a8","name":"PPD42","group":"34103759.036488","order":3,"width":6,"height":1,"passthru":false,"label":"PPD42","tooltip":"PPD42","color":"","bgcolor":"","icon":"","payload":"PPD42","payloadType":"str","topic":"topic","topicType":"msg","x":2150,"y":160,"wires":[["18695149.12aedf"]]},{"id":"a515823f.e9e37","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2370,"y":80,"wires":[[]]},{"id":"19690154.d121af","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2370,"y":120,"wires":[[]]},{"id":"18695149.12aedf","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2370,"y":160,"wires":[[]]},{"id":"d970d30b.31807","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График влажности","group":"a81dfb22.0ac0b8","order":12,"width":24,"height":7,"label":"Влажность","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"График влажности, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":240,"wires":[[]]},{"id":"5e84bf87.7368c","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\nmsg.payload = PV\nif(state != 10){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["d970d30b.31807"]]},{"id":"760b429c.ecb9cc","type":"mqtt in","z":"4a76e9d0.c082a8","name":"","topic":"устройство/+/влажность","qos":"2","datatype":"json","broker":"d66a0216.351b1","nl":false,"rap":true,"rh":0,"x":170,"y":320,"wires":[["a7290d2b.62cfa"]]},{"id":"545d1122.a306d","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График температуры","group":"a81dfb22.0ac0b8","order":4,"width":24,"height":7,"label":"Температура","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"График температуры, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":140,"wires":[[]]},{"id":"7b2a419c.7c26f","type":"function","z":"4a76e9d0.c082a8","name":"","func":"msg.payload.ts = Date.now();\nif (msg.payload.state != 10 && msg.payload.state != 6) {\nreturn msg;\n}\nelse {\n    msg.payload = \"\";\n    msg.topic = \"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":20,"wires":[["8d8722bc.1984"]]},{"id":"3d14d014.e1273","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const now = Date.now();\nconst now1 = flow.get(\"dateTemp\");\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000) - (3*3600000)}}, {ts: {$gte : now1 - (3*3600000)}}],\n    //ts:{$gte: now-48*3600000},\n    param: \"температура\",\n    id: 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get(\"dateTemp\");\nvar thedate = new Date();\nvar time = thedate.getTime();\ntime -= (time % 86400000);\nflow.set(\"dateTemp\",time);","finalize":"","libs":[],"x":1000,"y":240,"wires":[["f4595222.3f1e7"]]},{"id":"21efa766.81d348","type":"function","z":"4a76e9d0.c082a8","name":"","func":"let PV = [];\n\n\nconst keys = Object.keys(msg.payload);\n\nkeys.forEach((pv) => {\n    \n    PV.push({x: msg.payload[pv].ts, y: msg.payload[pv].PV});\n    \n});\nPV = PV.slice(0);\nPV.sort(function(a,b) {\n    return a.x - b.x;\n});\n\nif (PV.length > 1) {\nconst data = [{\n\"series\": [\"Temperature\"],\n\"data\": [PV],\n\"labels\": [\"\"]\n}]\n\nmsg.payload = data;\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":240,"wires":[["b89376e7.831368"]]},{"id":"b89376e7.831368","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График температуры","group":"21e2df48.3e44f","order":7,"width":30,"height":8,"label":"Температура","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1840,"y":240,"wires":[[]]},{"id":"68c7b9fb.840da8","type":"inject","z":"4a76e9d0.c082a8","name":"Чистка графика","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1560,"y":280,"wires":[["b89376e7.831368"]]},{"id":"8d8722bc.1984","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"insertOne","x":800,"y":20,"wires":[[]]},{"id":"f4595222.3f1e7","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"find.toArray","x":1280,"y":240,"wires":[["21efa766.81d348"]]},{"id":"9891732e.52875","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV=0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nif (state != 10) {\n   msg.payload = {\"PV\":String(PV.toFixed(2)), \"state\": state,'EI':\"°С\"};\n} else {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["f8e738c7.c597e8"]]},{"id":"54b0582.387c4a8","type":"ui_button","z":"4a76e9d0.c082a8","name":"","group":"a81dfb22.0ac0b8","order":2,"width":30,"height":1,"passthru":false,"label":"Исторические данные","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SHT31 исторические данные","payloadType":"str","topic":"topic","topicType":"msg","x":2140,"y":460,"wires":[["697514d2.c9c29c"]]},{"id":"697514d2.c9c29c","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2370,"y":460,"wires":[[]]},{"id":"8993ed36.2e9cf","type":"function","z":"4a76e9d0.c082a8","name":"","func":"//const now = Date.now(); // date now\n\n//let now1 = context.get(\"data\")||now; // calendar\n//msg.payload = {\n     // ts:{$gte: now1-24*3600000},\n  //    $and:[{ts:{$lte:now+(24*3600000)}}, {ts:{$gte:now1}}],\n    //id:1\n//};\n\n//node.warn(now1);\n//return msg;\n\nconst now = Date.now();\nconst now1 = flow.get(\"dateHum\");\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000) - (3*3600000)}}, {ts: {$gte : now1 - (3*3600000)}}],\n    //ts:{$gte: now-48*3600000},\n    param: \"влажность\",\n    id: 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get(\"dateHum\");\nvar thedate = new Date();\nvar time = thedate.getTime();\ntime -= (time % 86400000);\nflow.set(\"dateHum\",time);","finalize":"","libs":[],"x":1000,"y":440,"wires":[["e321431a.0505"]]},{"id":"3e7cad9c.6d2632","type":"function","z":"4a76e9d0.c082a8","name":"","func":"\nlet PV = [];\n\n\nconst keys = Object.keys(msg.payload);\n\nkeys.forEach((pv) => {\n    \n    PV.push({x: msg.payload[pv].ts, y: msg.payload[pv].PV});\n    \n});\nPV = PV.slice(0);\nPV.sort(function(a,b) {\n    return a.x - b.x;\n});\nif (PV.length > 1) {\nconst data = [{\n\"series\": [\"Humidity\"],\n\"data\": [PV],\n\"labels\": [\"\"]\n}]\n\nmsg.payload = data;\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":440,"wires":[["ec4f760f.7a3598"]]},{"id":"ec4f760f.7a3598","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График влажность","group":"21e2df48.3e44f","order":3,"width":30,"height":8,"label":"Влажность","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1830,"y":440,"wires":[[]]},{"id":"839a11fd.bca1","type":"inject","z":"4a76e9d0.c082a8","name":"Чистка графика","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1560,"y":500,"wires":[["ec4f760f.7a3598"]]},{"id":"e321431a.0505","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"find.toArray","x":1280,"y":440,"wires":[["3e7cad9c.6d2632","197bd830.4d4e18"]]},{"id":"a69ccc52.f8f5f","type":"ui_date_picker","z":"4a76e9d0.c082a8","name":"","label":"","group":"21e2df48.3e44f","order":4,"width":4,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":990,"y":360,"wires":[["df8c3bce.7bb068"]]},{"id":"e9054b79.f69108","type":"ui_date_picker","z":"4a76e9d0.c082a8","name":"","label":"","group":"21e2df48.3e44f","order":8,"width":4,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":990,"y":160,"wires":[["7a7d324c.9f7acc"]]},{"id":"8e67c8f.f6d2238","type":"ui_button","z":"4a76e9d0.c082a8","name":"","group":"21e2df48.3e44f","order":1,"width":30,"height":1,"passthru":false,"label":"Данные в реальном времени","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SHT31 данные в реальном времени","payloadType":"str","topic":"topic","topicType":"msg","x":2130,"y":500,"wires":[["82a15ec7.01922"]]},{"id":"82a15ec7.01922","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2370,"y":500,"wires":[[]]},{"id":"987f76f8.54bcd8","type":"function","z":"4a76e9d0.c082a8","name":"","func":"msg.payload.ts = Date.now();\nif (msg.payload.state != 10 && msg.payload.state != 6) {\nreturn msg;\n}\nelse {\n    msg.payload = \"\";\n    msg.topic = \"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["b96d3ec6.ed968"]]},{"id":"b96d3ec6.ed968","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"insertOne","x":640,"y":400,"wires":[[]]},{"id":"82fb1782.becac8","type":"ui_button","z":"4a76e9d0.c082a8","name":"BLG33","group":"34103759.036488","order":7,"width":6,"height":1,"passthru":false,"label":"BLG33","tooltip":"BLG33","color":"","bgcolor":"","icon":"","payload":"BLG33","payloadType":"str","topic":"topic","topicType":"msg","x":2140,"y":120,"wires":[["19690154.d121af"]]},{"id":"7a7d324c.9f7acc","type":"function","z":"4a76e9d0.c082a8","name":"","func":"flow.set(\"dateTemp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":200,"wires":[["3d14d014.e1273"]]},{"id":"df8c3bce.7bb068","type":"function","z":"4a76e9d0.c082a8","name":"","func":"flow.set(\"dateHum\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":400,"wires":[["8993ed36.2e9cf"]]},{"id":"247c026b.6e6ace","type":"delay","z":"4a76e9d0.c082a8","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":40,"wires":[["7b2a419c.7c26f","9891732e.52875","f098a8de.938258","ad4bd60e.30ffd8","3bd7b6f7.452c8a"]]},{"id":"44fdc304.25baec","type":"debug","z":"4a76e9d0.c082a8","name":"GET","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":1120,"wires":[]},{"id":"35853722.cdd878","type":"http request","z":"4a76e9d0.c082a8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"192.168.137.1:27017","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":1120,"wires":[["44fdc304.25baec"]]},{"id":"d6952296.9ae0c","type":"inject","z":"4a76e9d0.c082a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":1120,"wires":[["35853722.cdd878"]]},{"id":"f8e738c7.c597e8","type":"ui_template","z":"4a76e9d0.c082a8","group":"a81dfb22.0ac0b8","name":"Темпр реал","order":7,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateHum\" style=\"font-family: system-ui;background-color: {{(msg.payload.state === 1)  ? '#35bd8b\t': (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10)  ? '30px' :'80px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n<!--  ##457451\tзеленый -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":610,"y":60,"wires":[[]]},{"id":"f68a843c.0c3788","type":"ui_template","z":"4a76e9d0.c082a8","group":"a81dfb22.0ac0b8","name":"","order":15,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateHum\" style=\"font-family: system-ui;background-color: {{(msg.payload.state === 1)  ? '#35bd8b' : (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10)  ? '40px' :'80px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n\n<!-- cd00cd -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":600,"y":320,"wires":[[]]},{"id":"fa1d01d9.ae162","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV=0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nif (state != 10) {\n   msg.payload = {\"PV\":String(PV.toFixed(2)), \"state\": state,'EI':\"%\"};\n} else {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["f68a843c.0c3788"]]},{"id":"7e81917d.33bb2","type":"ui_dropdown","z":"cc354cd5.405b1","name":"Выбрать датчик","label":"","tooltip":"","place":"Выберите устройство","group":"a7fe74fe.4c1c48","order":1,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"SHT31","value":"SHT31","type":"str"},{"label":"BLG33","value":"BLG33","type":"str"},{"label":"PPD42","value":"PPD42","type":"str"},{"label":"BME280","value":"BME280","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":260,"wires":[["5835b66b.337b38","6d6190f1.84cf9"]]},{"id":"5835b66b.337b38","type":"function","z":"cc354cd5.405b1","name":"","func":"var c = flow.get('sensor')||\"\";\nif(msg.payload != \"\"){\nflow.set('sensor',msg.payload);\nflow.set('param',\"\");\n}\nlet vals = [];\nswitch (flow.get('sensor')||\"\") {\n  case 'SHT31':\n    vals = [{'Влажность':'влажность'},{'Температура':'температура'}]\n    break;\n  case 'BLG33':\n    vals = [{'CO2':'CO2'}]\n    break;\n  case 'PPD42':\n    vals = [{'Частицы':'частицы'}]\n    break;\n  case 'BME280':\n    vals = [{'Давление':'давление'}]\n    break;\n}\nmsg.options = vals;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nflow.set('param',\"\");\nflow.set('sensor',\"SHT31\");","finalize":"","libs":[],"x":280,"y":280,"wires":[["ebf0125d.a9bdc"]]},{"id":"d17b475e.7e7838","type":"function","z":"835154cf.f74e08","name":"","func":"let {HHch, Hch, Lch , LLch} = msg.payload;\nlet nn = \"0\";\nif(Hch) {\n    nn+=\"1\";\n}\nelse{\n    nn+=\"0\";\n}\n\nif(HHch) {\n    nn+=\"1\";\n}\nelse{\n    nn+=\"0\";\n}\n\nif(Lch) {\n    nn+=\"1\";\n}\nelse{\n    nn+=\"0\";\n}\nif(LLch) {\n    nn+=\"1\";\n}\nelse {\n    nn+=\"0\";\n}\nmsg.payload = parseInt(((nn+\"0\").split(\"\").reverse().join(\"\")),2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["4b37c832.f0ad38"]]},{"id":"4b37c832.f0ad38","type":"mqtt out","z":"835154cf.f74e08","name":"","topic":"устройство/SHT31/температура/уставка/mask","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d66a0216.351b1","x":610,"y":120,"wires":[]},{"id":"8dc7262f.8a01b8","type":"ui_form","z":"835154cf.f74e08","name":"","label":"Температура","group":"a8b0be2e.5ebce","order":3,"width":13,"height":1,"options":[{"label":"HH","value":"HHch","type":"checkbox","required":false,"rows":null},{"label":"H","value":"Hch","type":"checkbox","required":false,"rows":null},{"label":"L","value":"Lch","type":"checkbox","required":false,"rows":null},{"label":"LL","value":"LLch","type":"checkbox","required":false,"rows":null}],"formValue":{"HHch":false,"Hch":false,"Lch":false,"LLch":false},"payload":"","submit":"OK","cancel":"","topic":"topic","topicType":"msg","splitLayout":false,"x":160,"y":120,"wires":[["d17b475e.7e7838","bea5aef0.eba1b"]]},{"id":"bea5aef0.eba1b","type":"function","z":"835154cf.f74e08","name":"","func":"let {HHch, Hch, Lch , LLch} = msg.payload;\nlet nn = \"No show: \"\nif(HHch) {\n    nn+=\"HH \"\n}\nif(Hch) {\n    nn+=\"H \"\n}\nif(Lch) {\n    nn+=\"L \"\n}\nif(LLch) {\n    nn+=\"LL \"\n}\nmsg.payload = nn;\nif(nn != \"No show: \"){\nreturn msg;\n}\nelse{\n    msg.payload = \"Show all\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"// // Добавленный здесь код будет исполняться\n// // однократно при развертывании узла.\n// msg.payload = \"\";\n// return msg;","finalize":"","libs":[],"x":330,"y":180,"wires":[[]]},{"id":"b607b17e.f1485","type":"function","z":"835154cf.f74e08","name":"","func":"let {HHch, Hch, Lch , LLch} = msg.payload;\nlet nn = \"0\";\nif(Hch) {\n    nn+=\"1\";\n}\nelse{\n    nn+=\"0\";\n}\n\nif(HHch) {\n    nn+=\"1\";\n}\nelse{\n    nn+=\"0\";\n}\n\nif(Lch) {\n    nn+=\"1\";\n}\nelse{\n    nn+=\"0\";\n}\nif(LLch) {\n    nn+=\"1\";\n}\nelse {\n    nn+=\"0\";\n}\nmsg.payload = parseInt(((nn+\"0\").split(\"\").reverse().join(\"\")),2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[["42f95686.dbaee8"]]},{"id":"42f95686.dbaee8","type":"mqtt out","z":"835154cf.f74e08","name":"","topic":"устройство/SHT31/влажность/уставка/mask","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d66a0216.351b1","x":560,"y":280,"wires":[]},{"id":"adf56eb2.69f0d","type":"ui_form","z":"835154cf.f74e08","name":"","label":"Влажность","group":"a8b0be2e.5ebce","order":1,"width":13,"height":1,"options":[{"label":"HH","value":"HHch","type":"checkbox","required":false,"rows":null},{"label":"H","value":"Hch","type":"checkbox","required":false,"rows":null},{"label":"L","value":"Lch","type":"checkbox","required":false,"rows":null},{"label":"LL","value":"LLch","type":"checkbox","required":false,"rows":null}],"formValue":{"HHch":false,"Hch":false,"Lch":false,"LLch":false},"payload":"","submit":"OK","cancel":"","topic":"topic","topicType":"msg","splitLayout":false,"x":110,"y":280,"wires":[["b607b17e.f1485","63df231a.42f9dc"]]},{"id":"63df231a.42f9dc","type":"function","z":"835154cf.f74e08","name":"","func":"let {HHch, Hch, Lch , LLch} = msg.payload;\nlet nn = \"No show: \"\nif(HHch) {\n    nn+=\"HH \"\n}\nif(Hch) {\n    nn+=\"H \"\n}\nif(Lch) {\n    nn+=\"L \"\n}\nif(LLch) {\n    nn+=\"LL \"\n}\nmsg.payload = nn;\nif(nn != \"No show: \"){\nreturn msg;\n}\nelse{\n    msg.payload = \"Show all\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"// // Добавленный здесь код будет исполняться\n// // однократно при развертывании узла.\n// msg.payload = \"\";\n// return msg;","finalize":"","libs":[],"x":290,"y":340,"wires":[[]]},{"id":"59ba0eb5.91ea6","type":"mqtt in","z":"42ed1122.2bf6c","name":"","topic":"устройство/+/+","qos":"2","datatype":"json","broker":"de3eb7f3.879598","nl":false,"rap":true,"rh":0,"x":80,"y":180,"wires":[["fec87d54.33b27"]]},{"id":"2c237950.7be656","type":"function","z":"42ed1122.2bf6c","name":"build array (1)","func":"String.prototype.repeat = function(n) {\n    return new Array(n+1).join(this);\n}\nData = new Date();\nlet {id,name,param, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\nflow.set('id',id);\nif(flag == 0){\n    return;\n}\nvar count = context.get('statuses')||[];\nvar log = global.get('log')||[];\nvar newLog = \"\";\nvar c =0;\nlet flag_pars = flag.toString(2).split('');\nflag = (\"0\".repeat(7-flag_pars.length)) + flag_pars.join('');\nflag_pars = flag.toString(2).split('');\nfor (let i = flag_pars.length; i >1; i--){\n    if(flag_pars[i] == 1){\n        newLog = String(id)+\" \" + String(name) +\" \" + String(param) +\" \"+ count[5 - i] ;\n    } \n}\n\nlet lastlog = [];\nlog.forEach(function(elem) {\n  if(elem.log.indexOf(String(id)+\" \" + String(name) +\" \" + String(param)) != -1){\n      lastlog.push(elem);\n  }\n});\nif(lastlog.length < 1 && newLog.indexOf(\"в норме\") == -1){\n    log.unshift({\"log\":newLog, ts:Data.getTime()});\n    c+=1;\n}\n\nelse if (lastlog.length >= 1) {\n    if(lastlog[0].log.indexOf(newLog) == -1 && newLog != \"\"){\n       log.unshift({\"log\":newLog, ts:Data.getTime()});\n    c+=1;\n        \n    }\n}\nglobal.set('log',log)\nmsg.payload = log;\nif (c > 0){\n    return msg; \n}\nelse{\n    return;\n}\n","outputs":1,"noerr":0,"initialize":"var count = context.get('statuses')||[];\ncount = [\"в норме\",\"превышен верхний предупредительный уровень\", \"превышен верхний аварийный уровень\",\"превышен нижний предупредительный уровень\", \"превышен нижний аварийный уровень\",\"невозможно получить данные с датчика\"];\ncontext.set('statuses',count);\nvar c = global.get('log')||[];\nglobal.set('log',c);\nvar id  = flow.get('id')||1;\nflow.set('id',id);","finalize":"","libs":[],"x":1160,"y":180,"wires":[["7bd063bf.a0959c","1aca0691.40d639","cc23da89.d16678"]]},{"id":"887d7bfc.3ff008","type":"ui_template","z":"42ed1122.2bf6c","group":"34103759.036488","name":"One dimension array table (temperature)","order":53,"width":27,"height":7,"format":"<style>\n::-webkit-scrollbar {\n    width: 9px; height: 9px;\n    \n}\n::-webkit-scrollbar-button {\n    background-color: #333333;\n    \n}\n::-webkit-scrollbar-track {\n    background-color: #333333;\n    \n}\n::-webkit-scrollbar-track-piece {\n    \n}\n::-webkit-scrollbar-thumb {\n    height: 50px; background-color: #666; border-radius: 3px;\n    \n}\n::-webkit-scrollbar-corner {\n    background-color: #333333;\n    \n}}\n::-webkit-resizer {background-color: #333333;\n    \n}\nth, td {\n   border-bottom: 1px solid grey;\n}\n</style>\n\n<table class=\"table table-striped\">\n      <thead>\n        <tr>\n          <th style=\"width: 50px\">#</th>\n          <th style=\"width: 210px;\">время</th>\n          <th style=\"width: 750px;\">сообщение</th>\n          </tr>\n      </thead>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\">\n            <th scope=\"row\">{{ $index + 1 }}</th>\n            <td class=\"numeric\" >{{row.date}}</td>\n            <td class=\"string\" >{{row.log}}</td>\n        </tr>\n    </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1660,"y":180,"wires":[[]]},{"id":"7bd063bf.a0959c","type":"function","z":"42ed1122.2bf6c","name":"","func":"var id = flow.get(\"id\");\nmsg.payload = {\"log\": msg.payload[0].log,\"id\":id, \"ts\": msg.payload[0].ts};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":120,"wires":[["7cb90b1e.ac1c14"]]},{"id":"7cb90b1e.ac1c14","type":"mongodb3 in","z":"42ed1122.2bf6c","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Log","operation":"insertOne","x":1630,"y":120,"wires":[[]]},{"id":"ac4b5156.98296","type":"function","z":"42ed1122.2bf6c","name":"","func":"const now = Date.now();\n\nmsg.payload = {\n    //$and: [{ts: {$lte : now + (24*3600000)}}, {ts: {$gte : now}}],\n    ts:{$gte: now-24*3600000}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get(\"dateTemp\");\nvar thedate = new Date();\nvar time = thedate.getTime();\ntime -= (time % 86400000);\nflow.set(\"dateTemp\",time);","finalize":"","libs":[],"x":860,"y":220,"wires":[["431e7019.29729"]]},{"id":"e3634e67.3f95a","type":"function","z":"42ed1122.2bf6c","name":"","func":"const logo = [];\n\nconst keys = Object.keys(msg.payload);\n\nkeys.forEach((lo) => {\n\n    logo.unshift({\"log\" : msg.payload[lo].log, ts: msg.payload[lo].ts});\n    \n});\nmsg.payload = logo;\nmsg.topic = \"\";\nif(logo.length > 20){\n    logo.length = 20;\n}\nglobal.set(\"log\",logo);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":220,"wires":[["1aca0691.40d639"]]},{"id":"431e7019.29729","type":"mongodb3 in","z":"42ed1122.2bf6c","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Log","operation":"find.toArray","x":1060,"y":220,"wires":[["e3634e67.3f95a"]]},{"id":"eeb708fe.b92a78","type":"inject","z":"42ed1122.2bf6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":650,"y":260,"wires":[["ac4b5156.98296"]]},{"id":"5584a8d4.3d78f8","type":"delay","z":"42ed1122.2bf6c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":180,"wires":[["cd0e86b3.da74a8"]]},{"id":"7727e1c6.d29dc","type":"trigger","z":"42ed1122.2bf6c","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"130","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":610,"y":120,"wires":[["7d830879.862dc8","1b4f50e.7ae95af"]]},{"id":"7f8d5041.e1927","type":"function","z":"42ed1122.2bf6c","name":"","func":"Data = new Date();\nYear = Data.getFullYear();\nMonth = Data.getMonth();\nDay = Data.getDate();\nHour = Data.getHours();\nMinutes = Data.getMinutes();\nSeconds = Data.getSeconds();\nlet {id,name,param, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\nvar log = global.get('log')||[];\nvar lastlog = [];\nlog.forEach(function(elem) {\n  if(elem.log.indexOf(String(id)+\" \" + String(name) +\" \" + String(param)) != -1){\n      lastlog.push(elem);\n  }\n});\nif(lastlog.length >= 1){\n    if(lastlog[0].log.indexOf(\"пропал сигнал\") == -1){\n        log.unshift({'log':String(id)+\" \" + String(name) +\" \" + String(param) +\" \"+\"пропал сигнал\",ts:Data.getTime()});\n        msg.payload = log;\n        global.set('log',log);\n        return msg;\n    }\n}\nelse {\n        log.unshift({'log':String(id)+\" \" + String(name) +\" \" + String(param) +\" \"+\"пропал сигнал\",ts:Data.getTime()});\n        msg.payload = log;\n        global.set('log',log)\n        return msg;  \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":120,"wires":[["7bd063bf.a0959c","887d7bfc.3ff008"]]},{"id":"fec87d54.33b27","type":"switch","z":"42ed1122.2bf6c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"устройство/тестовое1/конфиг","vt":"str"},{"t":"eq","v":"устройство/SHT31/температура","vt":"str"},{"t":"eq","v":"устройство/SHT31/влажность","vt":"str"},{"t":"eq","v":"устройство/BLG33/CO2","vt":"str"},{"t":"eq","v":"устройство/PPD42/частицы","vt":"str"},{"t":"eq","v":"устройство/BME280/давление","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":250,"y":180,"wires":[[],["7e6978d9.feb7f8"],["7e6978d9.feb7f8"],["7e6978d9.feb7f8"],["7e6978d9.feb7f8"],["7e6978d9.feb7f8"]]},{"id":"7e6978d9.feb7f8","type":"function","z":"42ed1122.2bf6c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["7727e1c6.d29dc","5584a8d4.3d78f8","8b0468ab.fadb38"]]},{"id":"7d830879.862dc8","type":"function","z":"42ed1122.2bf6c","name":"","func":"let {id,name,param, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\nvar log = global.get('log')||[];\nvar lastlog = [];\nmsg.payload.state = 10;\nlog.forEach(function(elem) {\n  if(elem.log.indexOf(String(id)+\" \" + String(name) +\" \" + String(param)) != -1){\n      lastlog.push(elem.log);\n  }\n});\nif(lastlog.length >= 1){\n    if(lastlog[0].indexOf(\"пропал сигнал\") == -1){\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":60,"wires":[["4f625cc.96116a4"]]},{"id":"4f625cc.96116a4","type":"mqtt out","z":"42ed1122.2bf6c","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d66a0216.351b1","x":1410,"y":60,"wires":[]},{"id":"1b4f50e.7ae95af","type":"delay","z":"42ed1122.2bf6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":120,"wires":[["7f8d5041.e1927"]]},{"id":"cd0e86b3.da74a8","type":"function","z":"42ed1122.2bf6c","name":"","func":"let {id,name,param, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\nif (state != 10) {\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":180,"wires":[["2c237950.7be656"]]},{"id":"774b6280.32932c","type":"inject","z":"42ed1122.2bf6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0 SHT31 temperature High warning threshold exceeded 11:49:24 16.6.2021\",\"0 SHT31 humidity Normal 11:12:15 16.6.2021\",\"0 SHT31 temperature Normal 11:12:15 16.6.2021\",\"0 SHT31 humidity No signal from  11:12:9 16.6.2021\",\"0 SHT31 temperature No signal from  11:12:8 16.6.2021\",\"0 SHT31 humidity Normal 11:9:39 16.6.2021\",\"0 SHT31 temperature Normal 11:9:39 16.6.2021\"]","payloadType":"json","x":1190,"y":380,"wires":[["887d7bfc.3ff008"]]},{"id":"fd42de69.ec206","type":"debug","z":"42ed1122.2bf6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"2283ac24.e7f224","type":"comment","z":"42ed1122.2bf6c","name":"","info":"<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" integrity=\"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm\" crossorigin=\"anonymous\">\n<style>\n\n\n\n.ng-table th {\n  text-align: center;\n  -webkit-touch-callout: none;\n  -webkit-user-select: none;\n  -khtml-user-select: none;\n  -moz-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n}\n.ng-table th.sortable {\n  cursor: pointer;\n}\n.ng-table th.sortable .sort-indicator {\n  padding-right: 18px;\n  position: relative;\n}\n.ng-table th.sortable .sort-indicator:after, .ng-table th.sortable .sort-indicator:before {\n  content: \"\";\n  border-width: 0 4px 4px;\n  border-style: solid;\n  border-color: #000 transparent;\n  visibility: visible;\n  right: 5px;\n  top: 50%;\n  position: absolute;\n  opacity: 0.3;\n  margin-top: -4px;\n}\n.ng-table th.sortable .sort-indicator:before {\n  margin-top: 2px;\n  border-bottom: none;\n  border-left: 4px solid transparent;\n  border-right: 4px solid transparent;\n  border-top: 4px solid #000;\n}\n.ng-table th.sortable .sort-indicator:hover:after, .ng-table th.sortable .sort-indicator:hover:before {\n  opacity: 1;\n  visibility: visible;\n}\n.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {\n  background-color: rgba(141, 192, 219, 0.25);\n  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);\n}\n.ng-table th.sortable.sort-desc .sort-indicator:after, .ng-table th.sortable.sort-asc .sort-indicator:after {\n  margin-top: -2px;\n}\n.ng-table th.sortable.sort-desc .sort-indicator:before, .ng-table th.sortable.sort-asc .sort-indicator:before {\n  visibility: hidden;\n}\n.ng-table th.sortable.sort-asc .sort-indicator:after, .ng-table th.sortable.sort-asc .sort-indicator:hover:after {\n  visibility: visible;\n  filter: alpha(opacity=60);\n  -khtml-opacity: 0.6;\n  -moz-opacity: 0.6;\n  opacity: 0.6;\n}\n.ng-table th.sortable.sort-desc .sort-indicator:after {\n  border-bottom: none;\n  border-left: 4px solid transparent;\n  border-right: 4px solid transparent;\n  border-top: 4px solid #000;\n  visibility: visible;\n  -webkit-box-shadow: none;\n  -moz-box-shadow: none;\n  box-shadow: none;\n  filter: alpha(opacity=60);\n  -khtml-opacity: 0.6;\n  -moz-opacity: 0.6;\n  opacity: 0.6;\n}\n.ng-table th.filter .input-filter {\n  margin: 0;\n  display: block;\n  width: 100%;\n  min-height: 30px;\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  box-sizing: border-box;\n}\n.ng-table .ng-table-group-header th {\n  text-align: left;\n}\n.ng-table .ng-table-group-selector {\n  display: block;\n}\n.ng-table .ng-table-group-close, .ng-table .ng-table-group-toggle {\n  float: right;\n}\n.ng-table .ng-table-group-toggle {\n  margin-right: 5px;\n}\n@media only screen and (max-width: 800px) {\n  .ng-table-responsive {\n    border-bottom: 1px solid #999;\n  }\n  .ng-table-responsive tr {\n    border-top: 1px solid #999;\n    border-left: 1px solid #999;\n    border-right: 1px solid #999;\n  }\n  .ng-table-responsive td:before {\n    position: absolute;\n    padding: 8px;\n    left: 0;\n    top: 0;\n    width: 50%;\n    white-space: nowrap;\n    text-align: left;\n    font-weight: bold;\n  }\n  .ng-table-responsive thead tr th {\n    text-align: left;\n  }\n  .ng-table-responsive thead tr.ng-table-filters th {\n    padding: 0;\n  }\n  .ng-table-responsive thead tr.ng-table-filters th form > div {\n    padding: 8px;\n  }\n  .ng-table-responsive td {\n    border: none;\n    border-bottom: 1px solid #eee;\n    position: relative;\n    padding-left: 50%;\n    white-space: normal;\n    text-align: left;\n  }\n  .ng-table-responsive td:before {\n    content: attr(data-title-text);\n  }\n  .ng-table-responsive, .ng-table-responsive thead, .ng-table-responsive tbody, .ng-table-responsive th, .ng-table-responsive td, .ng-table-responsive tr {\n    display: block;\n  }\n}\n.ng-table-pagination {\n  margin-top: 0;\n}\n.ng-table-group-selector:before, .ng-table-group-selector:after, .filter:before, .filter:after {\n  display: table;\n  content: \" \";\n}\n.ng-table-group-selector:after, .filter:after {\n  clear: both;\n}\n.filter > .filter-cell {\n  float: left;\n  box-sizing: border-box;\n}\n.filter-horizontal > .filter-cell {\n  padding: 0 2px;\n}\n.filter-horizontal > .filter-cell:first-child {\n  padding-left: 0;\n}\n.filter-horizontal > .filter-cell:last-child, .filter-horizontal > .filter-cell.last {\n  padding-right: 0;\n}\n.s12 {\n  width: 100%;\n}\n.s11 {\n  width: 91.66667%;\n}\n.s10 {\n  width: 83.33333%;\n}\n.s9 {\n  width: 75%;\n}\n.s8 {\n  width: 66.66667%;\n}\n.s7 {\n  width: 58.33333%;\n}\n.s6 {\n  width: 50%;\n}\n.s5 {\n  width: 41.66667%;\n}\n.s4 {\n  width: 33.33333%;\n}\n.s3 {\n  width: 25%;\n}\n.s2 {\n  width: 16.66667%;\n}\n.s1 {\n  width: 8.33333%;\n}\n@media all and (max-width: 468px) {\n  .s12, .s11, .s10, .s9, .s8, .s7, .s6, .s5, .s4, .s3, .s2, .s1 {\n    width: 100%;\n  }\n  .filter > .filter-cell {\n    padding: 0px;\n  }\n}\n</style>","x":720,"y":440,"wires":[]},{"id":"9373e5cc.189908","type":"ui_template","z":"42ed1122.2bf6c","group":"34103759.036488","name":"","order":52,"width":27,"height":1,"format":"<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" integrity=\"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm\" crossorigin=\"anonymous\">\n<style>\n\n\n\n.ng-table th {\n  text-align: center;\n  -webkit-touch-callout: none;\n  -webkit-user-select: none;\n  -khtml-user-select: none;\n  -moz-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n}\n.ng-table th.sortable {\n  cursor: pointer;\n}\n.ng-table th.sortable .sort-indicator {\n  padding-right: 18px;\n  position: relative;\n}\n.ng-table th.sortable .sort-indicator:after, .ng-table th.sortable .sort-indicator:before {\n  content: \"\";\n  border-width: 0 4px 4px;\n  border-style: solid;\n  border-color: #000 transparent;\n  visibility: visible;\n  right: 5px;\n  top: 50%;\n  position: absolute;\n  opacity: 0.3;\n  margin-top: -4px;\n}\n.ng-table th.sortable .sort-indicator:before {\n  margin-top: 2px;\n  border-bottom: none;\n  border-left: 4px solid transparent;\n  border-right: 4px solid transparent;\n  border-top: 4px solid #000;\n}\n.ng-table th.sortable .sort-indicator:hover:after, .ng-table th.sortable .sort-indicator:hover:before {\n  opacity: 1;\n  visibility: visible;\n}\n.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {\n  background-color: rgba(141, 192, 219, 0.25);\n  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);\n}\n.ng-table th.sortable.sort-desc .sort-indicator:after, .ng-table th.sortable.sort-asc .sort-indicator:after {\n  margin-top: -2px;\n}\n.ng-table th.sortable.sort-desc .sort-indicator:before, .ng-table th.sortable.sort-asc .sort-indicator:before {\n  visibility: hidden;\n}\n.ng-table th.sortable.sort-asc .sort-indicator:after, .ng-table th.sortable.sort-asc .sort-indicator:hover:after {\n  visibility: visible;\n  filter: alpha(opacity=60);\n  -khtml-opacity: 0.6;\n  -moz-opacity: 0.6;\n  opacity: 0.6;\n}\n.ng-table th.sortable.sort-desc .sort-indicator:after {\n  border-bottom: none;\n  border-left: 4px solid transparent;\n  border-right: 4px solid transparent;\n  border-top: 4px solid #000;\n  visibility: visible;\n  -webkit-box-shadow: none;\n  -moz-box-shadow: none;\n  box-shadow: none;\n  filter: alpha(opacity=60);\n  -khtml-opacity: 0.6;\n  -moz-opacity: 0.6;\n  opacity: 0.6;\n}\n.ng-table th.filter .input-filter {\n  margin: 0;\n  display: block;\n  width: 100%;\n  min-height: 30px;\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  box-sizing: border-box;\n}\n.ng-table .ng-table-group-header th {\n  text-align: left;\n}\n.ng-table .ng-table-group-selector {\n  display: block;\n}\n.ng-table .ng-table-group-close, .ng-table .ng-table-group-toggle {\n  float: right;\n}\n.ng-table .ng-table-group-toggle {\n  margin-right: 5px;\n}\n@media only screen and (max-width: 800px) {\n  .ng-table-responsive {\n    border-bottom: 1px solid #999;\n  }\n  .ng-table-responsive tr {\n    border-top: 1px solid #999;\n    border-left: 1px solid #999;\n    border-right: 1px solid #999;\n  }\n  .ng-table-responsive td:before {\n    position: absolute;\n    padding: 8px;\n    left: 0;\n    top: 0;\n    width: 50%;\n    white-space: nowrap;\n    text-align: left;\n    font-weight: bold;\n  }\n  .ng-table-responsive thead tr th {\n    text-align: left;\n  }\n  .ng-table-responsive thead tr.ng-table-filters th {\n    padding: 0;\n  }\n  .ng-table-responsive thead tr.ng-table-filters th form > div {\n    padding: 8px;\n  }\n  .ng-table-responsive td {\n    border: none;\n    border-bottom: 1px solid #eee;\n    position: relative;\n    padding-left: 50%;\n    white-space: normal;\n    text-align: left;\n  }\n  .ng-table-responsive td:before {\n    content: attr(data-title-text);\n  }\n  .ng-table-responsive, .ng-table-responsive thead, .ng-table-responsive tbody, .ng-table-responsive th, .ng-table-responsive td, .ng-table-responsive tr {\n    display: block;\n  }\n}\n.ng-table-pagination {\n  margin-top: 0;\n}\n.ng-table-group-selector:before, .ng-table-group-selector:after, .filter:before, .filter:after {\n  display: table;\n  content: \" \";\n}\n.ng-table-group-selector:after, .filter:after {\n  clear: both;\n}\n.filter > .filter-cell {\n  float: left;\n  box-sizing: border-box;\n}\n.filter-horizontal > .filter-cell {\n  padding: 0 2px;\n}\n.filter-horizontal > .filter-cell:first-child {\n  padding-left: 0;\n}\n.filter-horizontal > .filter-cell:last-child, .filter-horizontal > .filter-cell.last {\n  padding-right: 0;\n}\n.s12 {\n  width: 100%;\n}\n.s11 {\n  width: 91.66667%;\n}\n.s10 {\n  width: 83.33333%;\n}\n.s9 {\n  width: 75%;\n}\n.s8 {\n  width: 66.66667%;\n}\n.s7 {\n  width: 58.33333%;\n}\n.s6 {\n  width: 50%;\n}\n.s5 {\n  width: 41.66667%;\n}\n.s4 {\n  width: 33.33333%;\n}\n.s3 {\n  width: 25%;\n}\n.s2 {\n  width: 16.66667%;\n}\n.s1 {\n  width: 8.33333%;\n}\n@media all and (max-width: 468px) {\n  .s12, .s11, .s10, .s9, .s8, .s7, .s6, .s5, .s4, .s3, .s2, .s1 {\n    width: 100%;\n  }\n  .filter > .filter-cell {\n    padding: 0px;\n  }\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":370,"y":400,"wires":[[]]},{"id":"1aca0691.40d639","type":"function","z":"42ed1122.2bf6c","name":"","func":"const logo = [];\n\nconst keys = Object.keys(msg.payload);\n\nkeys.forEach((lo) => {\nData = new Date(msg.payload[lo].ts);\ndate = Data.toLocaleString({}, {timeZone: 'Europe/Moscow'}),\n    logo.push({\"log\": msg.payload[lo].log, \"date\":date});\n    \n});\nif(logo.length > 20){\n    logo.length = 20;\n}\nmsg.payload = logo;\nmsg.topic = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":180,"wires":[["887d7bfc.3ff008","fd42de69.ec206"]]},{"id":"819b0b12.238ef8","type":"comment","z":"42ed1122.2bf6c","name":"","info":"<table class=\"table table-striped\">\n      <thead>\n        <tr>\n          <th>#</th>\n          <th style=\"width: 210px;\">время</th>\n          <th style=\"width: 750px;\">сообщение</th>\n          <th>устройство</th>\n          <th>локация</th>\n          </tr>\n      </thead>\n  <tr ng-repeat=\"x in msg.payload\" ng-class=\"{'table-danger': x.message === 'сообщений нет' ? true : false}\">\n    <th scope=\"row\">{{ $index + 1 }}</th>\n    <td>{{ x.date }}</td>\n    <td>{{ x.message }}</td>\n    <td>{{ x.device }}</td>\n    <td>{{ x.loc }}</td>\n  </tr>\n</table>","x":710,"y":500,"wires":[]},{"id":"8b0468ab.fadb38","type":"delay","z":"42ed1122.2bf6c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":220,"wires":[["ac4b5156.98296"]]},{"id":"b00c1037.40ee2","type":"comment","z":"42ed1122.2bf6c","name":"","info":"date: \n","x":710,"y":560,"wires":[]},{"id":"196808db.ce2b27","type":"http in","z":"2990a582.f179aa","name":"","url":"/devices","method":"get","upload":false,"swaggerDoc":"","x":210,"y":240,"wires":[["ecdad42d.034e48","2f900fcf.b8744"]]},{"id":"90bf3d03.9d8f","type":"http response","z":"2990a582.f179aa","name":"Отправка ОК","statusCode":"200","headers":{"content-type":"application/json","Authorization":""},"x":1000,"y":260,"wires":[]},{"id":"5cf5cb99.e16c74","type":"function","z":"2990a582.f179aa","name":"","func":"if (!msg.payload.id) {\n    msg.payload = {\n    error: 'Ошибка запроса, не указан id устройства'\n }\n return [ null, msg ];\n}\nelse{\n    msg.payload={\n    id:+msg.payload.id\n    }\n    return [ msg, null ];\n}\nreturn [ null, null ];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["10b3ef4d.9da681","ecdad42d.034e48"],["90bf3d03.9d8f"]]},{"id":"ea1152a0.9342f","type":"function","z":"2990a582.f179aa","name":"","func":"// if (msg.payload.id == true){\n//     return msg;\n// }\nif(JSON.stringify(msg.payload)=='{}'){\n    msg.payload={\n        error: 'Устройство с данным id не найдено'\n    }\n    return msg;\n}\nelse{\n    return [ msg, null ];\n}\n\nreturn [ null, null ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":200,"wires":[["90bf3d03.9d8f"]]},{"id":"10b3ef4d.9da681","type":"mongodb3 in","z":"2990a582.f179aa","service":"_ext_","configNode":"39aca40e.217b3c","name":"База_Sensors","collection":"Sensors","operation":"find.toArray","x":760,"y":180,"wires":[["d05962ee.3bc01","ea1152a0.9342f"]]},{"id":"ecdad42d.034e48","type":"debug","z":"2990a582.f179aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"243ebdb1.8bb2f2","type":"http in","z":"2990a582.f179aa","name":"","url":"/device","method":"get","upload":false,"swaggerDoc":"","x":210,"y":320,"wires":[["5cf5cb99.e16c74"]]},{"id":"2f900fcf.b8744","type":"function","z":"2990a582.f179aa","name":"","func":"if (msg.payload.id) {\n    msg.payload = {\n    error: 'Ошибка запроса, ID устройства не требуется'\n }\n return [ null, msg ];\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["10b3ef4d.9da681"],["90bf3d03.9d8f"]]},{"id":"2556414.f551fbe","type":"http in","z":"2990a582.f179aa","name":"","url":"/device/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["d9b40fe9.09319"]],"info":"**Пример запроса: /device/data?id=0&start=1626261582000**"},{"id":"d9b40fe9.09319","type":"function","z":"2990a582.f179aa","name":"","func":"const now = Date.now();\n\nif (!msg.payload.start) {\n    msg.payload = {\n        \n    error: 'Ошибка запроса, нет метки времени (start)'\n    \n }\n\n  return [ null, msg ];\n  \n} else {\n   if(!msg.payload.end){\n       msg.payload={\n           id: +msg.payload.id,\n           ts : {$gte: +msg.payload.start*1000}\n       }\n        return [ msg, null ];\n   }\n   msg.payload = {\n   id: +msg.payload.id,\n   $and : [ {ts : {$lte: +msg.payload.end*1000}}, {ts : {$gte: +msg.payload.start*1000}} ]\n } \n \n return [ msg, null ];\n \n}\n\nreturn [ null, null ];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["3795e9d9.b249d6","aa40155b.88d4b8"],["d884ba6d.71d1c8","aa40155b.88d4b8"]]},{"id":"3795e9d9.b249d6","type":"mongodb3 in","z":"2990a582.f179aa","service":"_ext_","configNode":"39aca40e.217b3c","name":"База_Data","collection":"Data","operation":"find.toArray","x":770,"y":380,"wires":[["7ce6b528.723b9c"]]},{"id":"d884ba6d.71d1c8","type":"http response","z":"2990a582.f179aa","name":"Отправка ОК","statusCode":"200","headers":{"content-type":"application/json"},"x":1000,"y":460,"wires":[]},{"id":"7ce6b528.723b9c","type":"function","z":"2990a582.f179aa","name":"","func":"// if (msg.payload.id == true){\n//     return msg;\n// }\nif (JSON.stringify(msg.payload) == \"{}\") {\n  msg.payload = {\n    error: \"Устройство с данным id не найдено\",\n  };\n  return msg;\n} else {\n  let chats = Object.keys(msg.payload);\n  let BaseExport = {};\n  let AllBaseExport = {};\n  let Mass = [];\n  chats.forEach(function (id, i, chats) {\n    let idd = 0;\n    if (id == 0) {\n      idd = 1;\n    } else {\n      idd = id - 1;\n    }\n    //node.warn(msg.payload[id].param);\n    node.warn(\n      (BaseExport = {\n        id: msg.payload[id].id,\n        name: msg.payload[id].name,\n        params: [\n          //{[msg.payload[+idd].param]:msg.payload[+idd]},\n          //{[msg.payload[+id].param]:msg.payload[+id]}\n          {\n            [msg.payload[+idd].param]: {\n              PV: msg.payload[+idd].PV,\n              HH: msg.payload[+idd].HH,\n              H: msg.payload[+idd].H,\n              L: msg.payload[+idd].L,\n              LL: msg.payload[+idd].LL,\n              delayHH: msg.payload[+idd].delayHH,\n              delayH: msg.payload[+idd].delayH,\n              delayL: msg.payload[+idd].delayL,\n              delayLL: msg.payload[+idd].delayLL,\n              timerHH: msg.payload[+idd].timerHH,\n              timerH: msg.payload[+idd].timerH,\n              timerL: msg.payload[+idd].timerL,\n              timerLL: msg.payload[+idd].timerLL,\n              state: msg.payload[+idd].state,\n              flag: msg.payload[+idd].flag,\n              mask: msg.payload[+idd].mask,\n              ts: msg.payload[+idd].ts,\n            },\n          },\n          {\n            [msg.payload[+id].param]: {\n              PV: msg.payload[+id].PV,\n              HH: msg.payload[+id].HH,\n              H: msg.payload[+id].H,\n              L: msg.payload[+id].L,\n              LL: msg.payload[+id].LL,\n              delayHH: msg.payload[+id].delayHH,\n              delayH: msg.payload[+id].delayH,\n              delayL: msg.payload[+id].delayL,\n              delayLL: msg.payload[+id].delayLL,\n              timerHH: msg.payload[+id].timerHH,\n              timerH: msg.payload[+id].timerH,\n              timerL: msg.payload[+id].timerL,\n              timerLL: msg.payload[+id].timerLL,\n              state: msg.payload[+id].state,\n              flag: msg.payload[+id].flag,\n              mask: msg.payload[+id].mask,\n              ts: msg.payload[+id].ts,\n                        },\n          },\n        ],\n      })\n    );\n    Mass.push(BaseExport);\n    //msg.payload = BaseExpor\n    // AllBaseExport = {\n    //     id:BaseExport\n    // }\n  });\n  msg.payload = Mass;\n  return [msg, null];\n}\n\nreturn [null, null];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":380,"wires":[["d884ba6d.71d1c8","6a07b4f3.627cac"]]},{"id":"aa40155b.88d4b8","type":"debug","z":"2990a582.f179aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"d05962ee.3bc01","type":"debug","z":"2990a582.f179aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":100,"wires":[]},{"id":"6a07b4f3.627cac","type":"debug","z":"2990a582.f179aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":520,"wires":[]},{"id":"d88a86c0.5e7548","type":"mqtt in","z":"62bbc46.33bcf3c","name":"","topic":"устройство/SHT31/архив","qos":"2","datatype":"json","broker":"beba190d.c14cb8","nl":false,"rap":true,"rh":0,"x":390,"y":320,"wires":[["1a0fdbbe.5cc184","17436d55.d6f2b3","21c191a1.2a238e"]]},{"id":"1a0fdbbe.5cc184","type":"function","z":"62bbc46.33bcf3c","name":"temp","func":"if (!msg.payload.temperature) {\n    //node.warn('null');\n    return null;\n}\n\nmsg.payload={\n    id: msg.payload.id,\n    ts: +msg.payload.ts * 1000,\n    param:\"температура\",\n    PV: msg.payload.temperature,\n    CSV: true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":280,"wires":[["ba4c91d1.86dbb","c2bce8a5.0191f8"]]},{"id":"17436d55.d6f2b3","type":"function","z":"62bbc46.33bcf3c","name":"humi","func":"if (!msg.payload.humidity) {\n    //node.warn('null');\n    return null;\n}\n\nmsg.payload={\n    id: msg.payload.id,\n    ts: +msg.payload.ts * 1000,\n    param: \"влажность\",\n    PV: msg.payload.humidity,\n    CSV: true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":320,"wires":[["c2bce8a5.0191f8"]]},{"id":"c210886.106a578","type":"ui_button","z":"4a76e9d0.c082a8","name":"Маски","group":"34103759.036488","order":51,"width":8,"height":1,"passthru":false,"label":"Маски","tooltip":"Маски","color":"","bgcolor":"","icon":"","payload":"Маски","payloadType":"str","topic":"topic","topicType":"msg","x":2140,"y":320,"wires":[["df7e06a5.5292a8"]]},{"id":"df7e06a5.5292a8","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2370,"y":320,"wires":[[]]},{"id":"9a868494.193fc8","type":"ui_button","z":"4a76e9d0.c082a8","name":"Уставки","group":"34103759.036488","order":49,"width":9,"height":1,"passthru":false,"label":"Уставки","tooltip":"Уставки","color":"","bgcolor":"","icon":"","payload":"Сохранение уставок","payloadType":"str","topic":"topic","topicType":"msg","x":2150,"y":360,"wires":[["4e212018.64e0d"]]},{"id":"4e212018.64e0d","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2370,"y":360,"wires":[[]]},{"id":"ebf0125d.a9bdc","type":"ui_dropdown","z":"cc354cd5.405b1","name":"Выбор параметра","label":"","tooltip":"","place":"Выберите параметр","group":"a7fe74fe.4c1c48","order":2,"width":4,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","x":310,"y":340,"wires":[["138d971c.3ce119"]]},{"id":"138d971c.3ce119","type":"function","z":"cc354cd5.405b1","name":"","func":"var c = flow.get('param')||\"\";\nflow.set('param',msg.payload);\nif (flow.get('ystavki').indexOf('delay') == -1){\nif(msg.payload == 'CO2' || msg.payload == 'влажность') {\n    msg.payload = \"%\"\n}\nelse if(msg.payload == 'температура') {\n    msg.payload = \"°С\"\n}\nelse if(msg.payload == \"частицы\") {\n    msg.payload = \"ppm\";\n}\nelse if(msg.payload == \"давление\") {\n    msg.payload = \"ATM\";\n}\nreturn msg;\n}\nelse {\n    msg.payload = \"sec\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[["6a2d277f.e87998"]]},{"id":"314cad50.2fa512","type":"function","z":"cc354cd5.405b1","name":"","func":"var count = flow.get('num')||\"\";\nnode.warn(count);\nflow.set('num',String(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[[]]},{"id":"5fb04c02.a4be04","type":"ui_text_input","z":"cc354cd5.405b1","name":"Данные","label":"","tooltip":"","group":"a7fe74fe.4c1c48","order":4,"width":6,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":140,"y":500,"wires":[["314cad50.2fa512"]]},{"id":"e12d4ead.ce4e6","type":"ui_dropdown","z":"cc354cd5.405b1","name":"Уставки","label":"","tooltip":"","place":"Выберите уставку","group":"a7fe74fe.4c1c48","order":3,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Критическое превышение","value":"HH","type":"str"},{"label":"Превышение","value":"H","type":"str"},{"label":"Понижение","value":"L","type":"str"},{"label":"Критическое понижение","value":"LL","type":"str"},{"label":"delayHH","value":"delayHH","type":"str"},{"label":"delayH","value":"delayH","type":"str"},{"label":"delayL","value":"delayL","type":"str"},{"label":"delayLL","value":"delayLL","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":500,"y":140,"wires":[["d959f3ed.ad4aa"]]},{"id":"d959f3ed.ad4aa","type":"function","z":"cc354cd5.405b1","name":"","func":"var c = flow.get('ystavki')||\"\";\nflow.set('ystavki',msg.payload);\nif (msg.payload.indexOf('delay') != -1) {\n    msg.payload = \"sec\"\n    return msg;\n}\nelse {\nvar c = flow.get('param')||\"\";\nif(c == 'CO2' || c == 'влажность') {\n    msg.payload = \"%\"\n}\nelse if(c == 'температура') {\n    msg.payload = \"°С\"\n}\nelse if(c == \"частицы\") {\n    msg.payload = \"ppm\";\n}\nelse if(c == \"давление\") {\n    msg.payload = \"ATM\";\n}\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":180,"wires":[["6a2d277f.e87998"]]},{"id":"cf1c932f.4af5c","type":"ui_button","z":"cc354cd5.405b1","name":"OK","group":"a7fe74fe.4c1c48","order":6,"width":2,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":730,"y":560,"wires":[["74635873.b66848","3eb995c0.c4766a"]]},{"id":"74635873.b66848","type":"function","z":"cc354cd5.405b1","name":"","func":"var ystavka = flow.get('ystavki')||\"\";\nvar num = flow.get('num')||\"\";\nvar sensor = flow.get('sensor')||\"\";\nvar param = flow.get('param')||\"\";\nif (num != \"\" && ystavka != \"\" && param != \"\") {\nmsg.payload = num;\nmsg.topic = \"устройство/\"+ sensor +\"/\" + param + \"/уставка/\" + ystavka;\n\nmsg.payload = msg.payload.toString();\nreturn msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":560,"wires":[["530ff7fd.c47088"]]},{"id":"530ff7fd.c47088","type":"mqtt out","z":"cc354cd5.405b1","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d66a0216.351b1","x":1070,"y":560,"wires":[]},{"id":"873163d7.f391c","type":"mqtt in","z":"cc354cd5.405b1","name":"","topic":"устройство/+/уведомление","qos":"2","datatype":"json","broker":"2ac6dbfb.a20d94","nl":false,"rap":true,"rh":0,"x":160,"y":640,"wires":[["cfcc71b7.6db16","67c58886.8839f8"]]},{"id":"75fefdd8.48a954","type":"ui_text","z":"cc354cd5.405b1","group":"a7fe74fe.4c1c48","order":8,"width":0,"height":0,"name":"","label":"Последний ответ","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":640,"wires":[]},{"id":"2b01f6f7.8e06ba","type":"function","z":"cc354cd5.405b1","name":"","func":"let {param, setpoint , status} = msg.payload;\nmsg.payload = String(param) +\" \" +String(setpoint) +\" \"+ String(status);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":640,"wires":[["75fefdd8.48a954"]]},{"id":"6a2d277f.e87998","type":"ui_text","z":"cc354cd5.405b1","group":"a7fe74fe.4c1c48","order":5,"width":3,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":220,"wires":[]},{"id":"3eb995c0.c4766a","type":"function","z":"cc354cd5.405b1","name":"","func":"var ystavka = flow.get('ystavki')||\"\";\nvar num = flow.get('num')||\"\";\nvar sensor = flow.get('sensor')||\"\";\nvar param = flow.get('param')||\"\";\nif (num == \"\" || ystavka == \"\" || param == \"\") {\nmsg.payload = \"Неверный ввод, сообщение не было отправлено\" + num +\" \"+ ystavka +\" \" + param;\n}\nelse {\nmsg.payload = \"Сообщение отправлено\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":600,"wires":[["75fefdd8.48a954"]]},{"id":"6d6190f1.84cf9","type":"function","z":"cc354cd5.405b1","name":"","func":"if (flow.get('ystavki').indexOf('delay') == -1){\nmsg.payload = '';\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":220,"wires":[["6a2d277f.e87998"]]},{"id":"2479d829.1c6708","type":"ui_template","z":"cc354cd5.405b1","group":"a7fe74fe.4c1c48","name":"One dimension array table (temperature)","order":9,"width":25,"height":6,"format":"<style>\n::-webkit-scrollbar {\n    width: 9px; height: 9px;\n    \n}\n::-webkit-scrollbar-button {\n    background-color: #333333;\n    \n}\n::-webkit-scrollbar-track {\n    background-color: #333333;\n    \n}\n::-webkit-scrollbar-track-piece {\n    \n}\n::-webkit-scrollbar-thumb {\n    height: 50px; background-color: #666; border-radius: 3px;\n    \n}\n::-webkit-scrollbar-corner {\n    background-color: #333333;\n    \n}}\n::-webkit-resizer {background-color: #333333;\n    \n}\nth, td {\n   border-bottom: 1px solid grey;\n}\n</style>\n\n<table class=\"table table-striped\">\n      <thead>\n        <tr>\n          <th style=\"width: 50px\">#</th>\n          <th style=\"width: 210px;\">время</th>\n          <th style=\"width: 750px;\">сообщение</th>\n          </tr>\n      </thead>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\">\n            <th scope=\"row\">{{ $index + 1 }}</th>\n            <td class=\"numeric\" >{{row.date}}</td>\n            <td class=\"string\" >{{row.log}}</td>\n        </tr>\n    </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1000,"y":680,"wires":[[]]},{"id":"b2d114f9.76b868","type":"function","z":"cc354cd5.405b1","name":"","func":"let {param, setpoint , status} = msg.payload;\nvar logy = flow.get('logystavki')||[];\nmsg.payload = logy;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get('logystavki')||[];\nflow.set('logystavki',c);","finalize":"","libs":[],"x":560,"y":680,"wires":[["938e110d.e1e6a"]]},{"id":"938e110d.e1e6a","type":"function","z":"cc354cd5.405b1","name":"","func":"const logo = [];\n\nconst keys = Object.keys(msg.payload);\nkeys.forEach((lo) => {\nData = new Date(msg.payload[lo].ts);\ndate = Data.toLocaleString({}, {timeZone: 'Europe/Moscow'}),\n    logo.push({\"log\": msg.payload[lo].log, \"date\":date});\n    \n});\nmsg.payload = logo;\nmsg.topic = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":680,"wires":[["2479d829.1c6708"]]},{"id":"89694eb2.8e5ba","type":"mongodb3 in","z":"cc354cd5.405b1","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Log","operation":"insertOne","x":790,"y":720,"wires":[[]]},{"id":"f6509fb3.abb7e","type":"function","z":"cc354cd5.405b1","name":"","func":"let {param, setpoint , status} = msg.payload;\nvar logy = flow.get('logystavki')||[];\nvar log = global.get('log')||[];\nif(status.indexOf('не изменена') == -1 && status != \"\"){\nData = new Date();\nlogy.unshift({\"log\":String(param) +\" \" +String(setpoint) +\" \"+ String(status), \"ts\":Data.getTime()});\nlog.unshift({\"log\":String(param) +\" \" +String(setpoint) +\" \"+ String(status), \"ts\":Data.getTime()});\nflow.set('logystavki',logy);\nglobal.set('log',log);\n}\nmsg.payload = logy;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get('logystavki')||[];\nflow.set('logystavki',c);","finalize":"","libs":[],"x":560,"y":720,"wires":[["89694eb2.8e5ba"]]},{"id":"cfcc71b7.6db16","type":"function","z":"cc354cd5.405b1","name":"","func":"function ucFirst(str) {\n  if (!str) return str;\n\n  return str[0].toUpperCase() + str.slice(1);\n}\nfunction unFirst(str) {\n  if (!str) return str;\n\n  return str[0].toLowerCase() + str.slice(1);\n}\nlet {param, setpoint , status} = msg.payload;\nparam = ucFirst(String(param));\nstatus = unFirst(String(status));\nmsg.payload.status = status;\nmsg.payload.param = param;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":640,"wires":[["2b01f6f7.8e06ba","f6509fb3.abb7e"]]},{"id":"77281827.74ea78","type":"function","z":"cc354cd5.405b1","name":"","func":"const now = Date.now();\n\nmsg.payload = {\n    //$and: [{ts: {$lte : now + (24*3600000)}}, {ts: {$gte : now}}],\n    ts:{$gte: now-24*3600000}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get(\"dateTemp\");\nvar thedate = new Date();\nvar time = thedate.getTime();\ntime -= (time % 86400000);\nflow.set(\"dateTemp\",time);","finalize":"","libs":[],"x":420,"y":780,"wires":[["7ffa2957.5c7aa8"]]},{"id":"7ffa2957.5c7aa8","type":"mongodb3 in","z":"cc354cd5.405b1","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Log","operation":"find.toArray","x":600,"y":780,"wires":[["105bdd80.187d63"]]},{"id":"105bdd80.187d63","type":"function","z":"cc354cd5.405b1","name":"","func":"const logo = [];\n\nconst keys = Object.keys(msg.payload);\n\nkeys.forEach((lo) => {\n    if(msg.payload[lo].log.indexOf(\"уставк\") != -1) {\n    logo.unshift({\"log\" : msg.payload[lo].log, ts: msg.payload[lo].ts});\n    }\n});\nmsg.payload = logo;\nmsg.topic = \"\";\nflow.set(\"logystavki\",logo);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":780,"wires":[["938e110d.e1e6a"]]},{"id":"c4fa61a.04e72a","type":"mqtt in","z":"4a76e9d0.c082a8","name":"","topic":"устройство/+/частицы","qos":"2","datatype":"json","broker":"d66a0216.351b1","nl":false,"rap":true,"rh":0,"x":160,"y":660,"wires":[["485e911b.8c3f6","d33b2338.f48ab"]]},{"id":"eb3e3879.5b5e28","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График частиц","group":"a0f9bc80.ed589","order":2,"width":24,"height":7,"label":"Частицы","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"График частиц, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":560,"y":640,"wires":[[]]},{"id":"3c4550c7.0465f","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\nmsg.payload = PV\nif(state != 10){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":640,"wires":[["eb3e3879.5b5e28"]]},{"id":"266d31e3.05f89e","type":"ui_template","z":"4a76e9d0.c082a8","group":"a0f9bc80.ed589","name":"","order":5,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateChast\" style=\"font-family: system-ui;background-color: {{(msg.payload.state === 1)  ? '#35bd8b' : (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10)  ? '40px' :'50px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n\n<!-- cd00cd -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":540,"y":720,"wires":[[]]},{"id":"86852339.d418e","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV=0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nif (state != 10) {\n   msg.payload = {\"PV\":String(PV.toFixed()), \"state\": state,'EI':\"ppm\"};\n} else {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":720,"wires":[["266d31e3.05f89e"]]},{"id":"a83740e.375bbc","type":"mqtt in","z":"4a76e9d0.c082a8","name":"","topic":"устройство/+/давление","qos":"2","datatype":"json","broker":"d66a0216.351b1","nl":false,"rap":true,"rh":0,"x":160,"y":1020,"wires":[["91c96c97.a077"]]},{"id":"97d4e366.3149d","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График давления","group":"8d62a2d8.9a968","order":3,"width":24,"height":7,"label":"Давление","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"График давления, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":940,"wires":[[]]},{"id":"e9991ce9.b3f0f","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\nmsg.payload = PV\nif(state != 10){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":940,"wires":[["97d4e366.3149d"]]},{"id":"cafb4d69.a220a","type":"ui_template","z":"4a76e9d0.c082a8","group":"8d62a2d8.9a968","name":"","order":6,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateHum\" style=\"font-family: system-ui;background-color: {{(msg.payload.state === 1)  ? '#35bd8b' : (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10)  ? '40px' :'80px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n\n<!-- cd00cd -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":560,"y":1060,"wires":[[]]},{"id":"e2d26183.7d70a","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV=0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nif (state != 10) {\n   msg.payload = {\"PV\":String(PV.toFixed(2)), \"state\": state,'EI':\"ATM\"};\n} else {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1060,"wires":[["cafb4d69.a220a"]]},{"id":"1d86717.b77fb8f","type":"mqtt in","z":"4a76e9d0.c082a8","name":"","topic":"устройство/+/CO2","qos":"2","datatype":"json","broker":"d66a0216.351b1","nl":false,"rap":true,"rh":0,"x":90,"y":1340,"wires":[["bbe79a45.5ec738"]]},{"id":"42fc8b1c.42bc34","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График СО2","group":"13e67b03.699895","order":3,"width":24,"height":7,"label":"Концетрация СО2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"График CO2, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":1200,"wires":[[]]},{"id":"f2ea0f63.aa9bc","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\nmsg.payload = PV\nif(state != 10 && PV != null){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1200,"wires":[["42fc8b1c.42bc34"]]},{"id":"dc5150d8.b2c7d","type":"ui_template","z":"4a76e9d0.c082a8","group":"13e67b03.699895","name":"","order":6,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateHum\" style=\"font-family: system-ui;background-color: {{(msg.payload.state === 1)  ? '#35bd8b' : (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10 || msg.payload.state === 6)  ? '40px' :'80px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n\n<!-- cd00cd -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":560,"y":1320,"wires":[[]]},{"id":"422b58d9.ddf4b8","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV = 0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\nif (PV == null && state == 6) {\n    msg.payload = {\"PV\":\"Сбой датчика\", \"state\": state,'EI':\"\"};\n    return msg;\n}\nif (state != 10 && PV != null) {\n   msg.payload = {\"PV\":String(PV.toFixed(2)), \"state\": state,'EI':\"%\"};\n   return msg;\n} \n\nif(state == 10) {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1320,"wires":[["dc5150d8.b2c7d"]]},{"id":"6efc6c43.70b834","type":"ui_button","z":"4a76e9d0.c082a8","name":"BMP280","group":"34103759.036488","order":5,"width":6,"height":1,"passthru":false,"label":"BME280","tooltip":"BME280","color":"","bgcolor":"","icon":"","payload":"BME280","payloadType":"str","topic":"topic","topicType":"msg","x":2150,"y":200,"wires":[["ebc51d71.5d147"]]},{"id":"ebc51d71.5d147","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2370,"y":200,"wires":[[]]},{"id":"3952ebf0.e0dc14","type":"function","z":"4a76e9d0.c082a8","name":"","func":"msg.payload.ts = Date.now();\nif (msg.payload.state != 10 && msg.payload.state != 6) {\nreturn msg;\n}\nelse {\n    msg.payload = \"\";\n    msg.topic = \"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":760,"wires":[["15fde145.3d7cdf"]]},{"id":"15fde145.3d7cdf","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"insertOne","x":580,"y":760,"wires":[[]]},{"id":"86ef6e0b.3b4d9","type":"function","z":"4a76e9d0.c082a8","name":"","func":"msg.payload.ts = Date.now();\nif (msg.payload.state != 10 && msg.payload.state != 6) {\nreturn msg;\n}\nelse {\n    msg.payload = \"\";\n    msg.topic = \"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1100,"wires":[["689764bf.3120ac"]]},{"id":"689764bf.3120ac","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"insertOne","x":600,"y":1100,"wires":[[]]},{"id":"d14175c1.f0b3f8","type":"function","z":"4a76e9d0.c082a8","name":"","func":"msg.payload.ts = Date.now();\nif (msg.payload.state != 10 && msg.payload.state != 6) {\nreturn msg;\n}\nelse {\n    msg.payload = \"\";\n    msg.topic = \"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1240,"wires":[["d8695831.4c3bc8"]]},{"id":"6ae3ffa2.719b3","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"insertOne","x":800,"y":1240,"wires":[[]]},{"id":"de183262.cb956","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График давления","group":"34103759.036488","order":12,"width":6,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"График давления, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":980,"wires":[[]]},{"id":"85b52b85.453ed8","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\nmsg.payload = PV\nif(state != 10){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":980,"wires":[["de183262.cb956"]]},{"id":"ca041e92.8f0f8","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График частиц","group":"34103759.036488","order":10,"width":6,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"График частиц, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":560,"y":600,"wires":[[]]},{"id":"d3a2bd2f.2aa9e","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\nmsg.payload = PV\nif(state != 10){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":600,"wires":[["ca041e92.8f0f8"]]},{"id":"3bd7b6f7.452c8a","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\n\nmsg.payload = PV\n\nif(state != 10){\n   msg.topic = \"температура\"\n   return msg;\n} else {\n    return null\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["f73d71a0.9eee9"]]},{"id":"f73d71a0.9eee9","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График температуры","group":"34103759.036488","order":8,"width":6,"height":6,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"График температуры, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#afe9b9","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":660,"y":180,"wires":[[]]},{"id":"2d3f1b13.1a95d4","type":"ui_button","z":"4a76e9d0.c082a8","name":"","group":"8d62a2d8.9a968","order":1,"width":30,"height":1,"passthru":false,"label":"Исторические данные","tooltip":"","color":"","bgcolor":"","icon":"","payload":"BME280 исторические данные","payloadType":"str","topic":"topic","topicType":"msg","x":2150,"y":580,"wires":[["7dae3dc4.7a4644"]]},{"id":"7dae3dc4.7a4644","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2380,"y":580,"wires":[[]]},{"id":"1aee7895.e3fda7","type":"ui_button","z":"4a76e9d0.c082a8","name":"","group":"39d730c6.37e62","order":1,"width":30,"height":1,"passthru":false,"label":"Данные в реальном времени","tooltip":"","color":"","bgcolor":"","icon":"","payload":"BME280","payloadType":"str","topic":"topic","topicType":"msg","x":2170,"y":620,"wires":[["8eb5c9d4.5cc878"]]},{"id":"8eb5c9d4.5cc878","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2380,"y":620,"wires":[[]]},{"id":"5d0adde2.b99bc4","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"39aca40e.217b3c","name":"","collection":"Sensors","operation":"updateOne","x":2950,"y":1260,"wires":[["c6ff9658.bdbf68"]]},{"id":"cde85366.4712b","type":"function","z":"4a76e9d0.c082a8","name":"","func":"let msgUpdate = {};\n\nmsgUpdate.payload = [\n  { id: msg.payload.id }, // filter\n  {\"$set\": msg.payload},\n  { upsert: true } // options [optional]\n  //function() {} // callback [optinal]\n];\n\nmsg = msgUpdate;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2520,"y":1260,"wires":[["7420bbae.cd3494"]]},{"id":"6ee813fc.a6c25c","type":"debug","z":"4a76e9d0.c082a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2270,"y":1340,"wires":[]},{"id":"7420bbae.cd3494","type":"json","z":"4a76e9d0.c082a8","name":"","property":"payload","action":"obj","pretty":false,"x":2690,"y":1260,"wires":[["5d0adde2.b99bc4"]]},{"id":"9e9d0709.0ca738","type":"delay","z":"4a76e9d0.c082a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2340,"y":1260,"wires":[["cde85366.4712b"]]},{"id":"c6ff9658.bdbf68","type":"debug","z":"4a76e9d0.c082a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2870,"y":1340,"wires":[]},{"id":"6baafdf1.2295f4","type":"mqtt in","z":"4a76e9d0.c082a8","name":"","topic":"устройство/+/конфиг","qos":"2","datatype":"json","broker":"2ac6dbfb.a20d94","nl":false,"rap":true,"rh":0,"x":2130,"y":1260,"wires":[["9e9d0709.0ca738","6ee813fc.a6c25c"]]},{"id":"bf028c34.0b3ba","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const now = Date.now();\nconst now1 = flow.get(\"dateTemp\");\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000) - (3*3600000)}}, {ts: {$gte : now1 - (3*3600000)}}],\n    //ts:{$gte: now-48*3600000},\n    param: \"давление\",\n    id: 2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get(\"dateTemp\");\nvar thedate = new Date();\nvar time = thedate.getTime();\ntime -= (time % 86400000);\nflow.set(\"dateTemp\",time);","finalize":"","libs":[],"x":1060,"y":960,"wires":[["8d98c668.f47858"]]},{"id":"5b3698ab.cb3a28","type":"function","z":"4a76e9d0.c082a8","name":"","func":"let PV = [];\n\n\nconst keys = Object.keys(msg.payload);\n\nkeys.forEach((pv) => {\n    \n    PV.push({x: msg.payload[pv].ts, y: msg.payload[pv].PV});\n    \n});\n\nPV = PV.slice(0);\nPV.sort(function(a,b) {\n    return a.x - b.x;\n});\n\nif (PV.length > 1) {\nconst data = [{\n\"series\": [\"Pressure\"],\n\"data\": [PV],\n\"labels\": [\"\"]\n}]\n\nmsg.payload = data;\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":960,"wires":[["addb2172.badcb"]]},{"id":"a1a265c6.3cb3f8","type":"inject","z":"4a76e9d0.c082a8","name":"Чистка графика","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1540,"y":880,"wires":[["addb2172.badcb"]]},{"id":"8d98c668.f47858","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"find.toArray","x":1280,"y":960,"wires":[["5b3698ab.cb3a28"]]},{"id":"3cdc2a22.906336","type":"function","z":"4a76e9d0.c082a8","name":"","func":"flow.set(\"dateTemp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":920,"wires":[["bf028c34.0b3ba"]]},{"id":"74f31f8b.fa63b","type":"ui_date_picker","z":"4a76e9d0.c082a8","name":"","label":"","group":"39d730c6.37e62","order":11,"width":5,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":1050,"y":880,"wires":[["3cdc2a22.906336"]]},{"id":"30c9f3fc.26adac","type":"mqtt in","z":"4a76e9d0.c082a8","name":"","topic":"устройство/+/уведомление","qos":"2","datatype":"json","broker":"2ac6dbfb.a20d94","nl":false,"rap":true,"rh":0,"x":2040,"y":1480,"wires":[["f41f0933.1928f8"]]},{"id":"f41f0933.1928f8","type":"function","z":"4a76e9d0.c082a8","name":"","func":"msg.payload.ts = Date.now();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2260,"y":1480,"wires":[["a76f401c.997c"]]},{"id":"a76f401c.997c","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"39aca40e.217b3c","name":"Уведомления о уставках","collection":"Notification","operation":"insertOne","x":2470,"y":1480,"wires":[["7b71f56.f64790c"]]},{"id":"7b71f56.f64790c","type":"debug","z":"4a76e9d0.c082a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2710,"y":1480,"wires":[]},{"id":"addb2172.badcb","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График давления","group":"39d730c6.37e62","order":3,"width":24,"height":7,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"График давления, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1550,"y":920,"wires":[[]]},{"id":"23a200d4.6252e","type":"ui_button","z":"4a76e9d0.c082a8","name":"","group":"a0f9bc80.ed589","order":1,"width":30,"height":1,"passthru":false,"label":"Исторические данные","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PPD42 исторические данные","payloadType":"str","topic":"topic","topicType":"msg","x":2150,"y":700,"wires":[["f9d0ea9a.2423e8"]]},{"id":"f9d0ea9a.2423e8","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2380,"y":700,"wires":[[]]},{"id":"fab09ac.a372b68","type":"ui_button","z":"4a76e9d0.c082a8","name":"","group":"9326b2ed.3c07","order":1,"width":30,"height":1,"passthru":false,"label":"Данные в реальном времени","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PPD42","payloadType":"str","topic":"topic","topicType":"msg","x":2170,"y":740,"wires":[["dc53ce54.7458e"]]},{"id":"dc53ce54.7458e","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2380,"y":740,"wires":[[]]},{"id":"28345df3.bf7d62","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График газ","group":"34103759.036488","order":14,"width":6,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"График CO2, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":1360,"wires":[[]]},{"id":"83b13e72.1e017","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\nmsg.payload = PV\nif(state != 10){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1360,"wires":[["28345df3.bf7d62"]]},{"id":"d678fe4c.c1056","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const now = Date.now();\nconst now1 = flow.get(\"dateTemp\");\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000) - (3*3600000)}}, {ts: {$gte : now1 - (3*3600000)}}],\n    //ts:{$gte: now-48*3600000},\n    param: \"частицы\",\n    id: 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get(\"dateTemp\");\nvar thedate = new Date();\nvar time = thedate.getTime();\ntime -= (time % 86400000);\nflow.set(\"dateTemp\",time);","finalize":"","libs":[],"x":980,"y":720,"wires":[["39d2dba9.e31994"]]},{"id":"b5b42d5b.d5fe3","type":"function","z":"4a76e9d0.c082a8","name":"","func":"let PV = [];\n\n\nconst keys = Object.keys(msg.payload);\n\nkeys.forEach((pv) => {\n    \n    PV.push({x: msg.payload[pv].ts, y: msg.payload[pv].PV});\n    \n});\n\nPV = PV.slice(0);\nPV.sort(function(a,b) {\n    return a.x - b.x;\n});\n\nif (PV.length > 1) {\nconst data = [{\n\"series\": [\"Concentration\"],\n\"data\": [PV],\n\"labels\": [\"\"]\n}]\n\nmsg.payload = data;\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":720,"wires":[["361d923a.82285e"]]},{"id":"58e8f676.ef4058","type":"inject","z":"4a76e9d0.c082a8","name":"Чистка графика","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1620,"y":760,"wires":[["361d923a.82285e"]]},{"id":"39d2dba9.e31994","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"find.toArray","x":1300,"y":720,"wires":[["b5b42d5b.d5fe3"]]},{"id":"b31bb7a4.903a18","type":"function","z":"4a76e9d0.c082a8","name":"","func":"flow.set(\"dateTemp\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":680,"wires":[["d678fe4c.c1056"]]},{"id":"99da1226.8c9cb","type":"ui_date_picker","z":"4a76e9d0.c082a8","name":"","label":"","group":"9326b2ed.3c07","order":10,"width":5,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":970,"y":640,"wires":[["b31bb7a4.903a18"]]},{"id":"361d923a.82285e","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График частиц","group":"9326b2ed.3c07","order":2,"width":24,"height":7,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"График частиц, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1820,"y":720,"wires":[[]]},{"id":"531ffc85.8d6754","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const { id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts } = msg.payload;\nmsg.payload = PV\nif(state != 10){\nmsg.topic = \"влажность\"\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[["f73d71a0.9eee9"]]},{"id":"f0fbe9be.9db878","type":"ui_button","z":"4a76e9d0.c082a8","name":"","group":"13e67b03.699895","order":1,"width":30,"height":1,"passthru":false,"label":"Исторические данные","tooltip":"","color":"","bgcolor":"","icon":"","payload":"BLG33 исторические данные","payloadType":"str","topic":"topic","topicType":"msg","x":2150,"y":820,"wires":[["4e6c9025.1de07"]]},{"id":"4e6c9025.1de07","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2380,"y":820,"wires":[[]]},{"id":"d85ef8cd.bb5d18","type":"ui_button","z":"4a76e9d0.c082a8","name":"","group":"a11a850e.501798","order":1,"width":30,"height":1,"passthru":false,"label":"Данные в реальном времени","tooltip":"","color":"","bgcolor":"","icon":"","payload":"BLG33","payloadType":"str","topic":"topic","topicType":"msg","x":2170,"y":860,"wires":[["60fcf5ee.3caf5c"]]},{"id":"60fcf5ee.3caf5c","type":"ui_ui_control","z":"4a76e9d0.c082a8","name":"","events":"all","x":2380,"y":860,"wires":[[]]},{"id":"cc23da89.d16678","type":"debug","z":"42ed1122.2bf6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":300,"wires":[]},{"id":"4481eafd.b464f4","type":"mqtt in","z":"e80b9924.848358","name":"","topic":"dev/#","qos":"2","datatype":"json","broker":"2ac6dbfb.a20d94","nl":false,"rap":true,"rh":0,"x":220,"y":220,"wires":[["1ef25f3c.325a51"]]},{"id":"1ef25f3c.325a51","type":"debug","z":"e80b9924.848358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":220,"wires":[]},{"id":"197bd830.4d4e18","type":"debug","z":"4a76e9d0.c082a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1780,"y":620,"wires":[]},{"id":"a2a159a.cb38ba8","type":"mqtt in","z":"62bbc46.33bcf3c","name":"","topic":"устройство/PPD42/архив","qos":"2","datatype":"json","broker":"beba190d.c14cb8","nl":false,"rap":true,"rh":0,"x":390,"y":380,"wires":[["aad0fec1.1b7e5","21c191a1.2a238e"]]},{"id":"aad0fec1.1b7e5","type":"function","z":"62bbc46.33bcf3c","name":"","func":"msg.payload = {\n    id: msg.payload.id,\n    ts: +msg.payload.ts*1000,\n    param: \"частицы\",\n    PV: msg.payload.concentration,\n    CSV: true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":380,"wires":[["c2bce8a5.0191f8"]]},{"id":"b11f1612.a88608","type":"mqtt in","z":"62bbc46.33bcf3c","name":"","topic":"устройство/BLG33/архив","qos":"2","datatype":"json","broker":"beba190d.c14cb8","nl":false,"rap":true,"rh":0,"x":390,"y":240,"wires":[["21c191a1.2a238e","6582b05e.40bc9"]]},{"id":"21c191a1.2a238e","type":"debug","z":"62bbc46.33bcf3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"c2bce8a5.0191f8","type":"mongodb3 in","z":"62bbc46.33bcf3c","service":"_ext_","configNode":"39aca40e.217b3c","name":"Потеря связи","collection":"Data","operation":"insertOne","x":980,"y":320,"wires":[["d7b6fe65.80ed9"]]},{"id":"6582b05e.40bc9","type":"function","z":"62bbc46.33bcf3c","name":"","func":"msg.payload={\n    id:msg.payload.id,\n    ts:+msg.payload.ts*1000,\n    param:\"CO2\",\n    PV:msg.payload.CO2,\n    CSV:true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":220,"wires":[["c2bce8a5.0191f8"]]},{"id":"d7b6fe65.80ed9","type":"debug","z":"62bbc46.33bcf3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"e745fb60.ef3af8","type":"mqtt in","z":"62bbc46.33bcf3c","name":"","topic":"устройство/BME280/архив","qos":"2","datatype":"json","broker":"beba190d.c14cb8","nl":false,"rap":true,"rh":0,"x":400,"y":440,"wires":[["6b44db6e.d8c064","21c191a1.2a238e"]]},{"id":"6b44db6e.d8c064","type":"function","z":"62bbc46.33bcf3c","name":"","func":"msg.payload={\n    id:msg.payload.id,\n    ts:+msg.payload.ts*1000,\n    param:\"давление\",\n    PV:msg.payload.pressure,\n    CSV:true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":440,"wires":[["c2bce8a5.0191f8"]]},{"id":"57a88993.7b45b8","type":"ui_button","z":"62bbc46.33bcf3c","name":"","group":"34103759.036488","order":50,"width":10,"height":1,"passthru":false,"label":"CSV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":600,"wires":[["a261d91b.fabb18","79feb531.254c5c","2bb96424.03317c","25840af0.626196"]]},{"id":"a261d91b.fabb18","type":"mqtt out","z":"62bbc46.33bcf3c","name":"","topic":"устройство/SHT31/получитьАрхив","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2ac6dbfb.a20d94","x":700,"y":600,"wires":[]},{"id":"79feb531.254c5c","type":"mqtt out","z":"62bbc46.33bcf3c","name":"","topic":"устройство/PPD42/получитьАрхив","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2ac6dbfb.a20d94","x":700,"y":720,"wires":[]},{"id":"2bb96424.03317c","type":"mqtt out","z":"62bbc46.33bcf3c","name":"","topic":"устройство/BME280/получитьАрхив","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2ac6dbfb.a20d94","x":710,"y":540,"wires":[]},{"id":"25840af0.626196","type":"mqtt out","z":"62bbc46.33bcf3c","name":"","topic":"устройство/BLG33/получитьАрхив","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2ac6dbfb.a20d94","x":700,"y":660,"wires":[]},{"id":"373e4a49.901b46","type":"inject","z":"62bbc46.33bcf3c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":660,"wires":[["79feb531.254c5c","a261d91b.fabb18","2bb96424.03317c","25840af0.626196"]]},{"id":"2fca6c31.0fbd84","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const now = Date.now();\nconst now1 = flow.get(\"dateTemp\");\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000) - (3*3600000)}}, {ts: {$gte : now1 - (3*3600000)}}],\n    //ts:{$gte: now-48*3600000},\n    param: \"CO2\",\n    id: 3\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar c = flow.get(\"dateTemp\");\nvar thedate = new Date();\nvar time = thedate.getTime();\ntime -= (time % 86400000);\nflow.set(\"dateTemp\",time);","finalize":"","libs":[],"x":840,"y":1500,"wires":[["d8c30480.3e0da8"]]},{"id":"dc8ffbc6.4392f8","type":"function","z":"4a76e9d0.c082a8","name":"","func":"let PV = [];\n\n\nconst keys = Object.keys(msg.payload);\n\nkeys.forEach((pv) => {\n    \n    PV.push({x: msg.payload[pv].ts, y: msg.payload[pv].PV});\n    \n});\n\nPV = PV.slice(0);\nPV.sort(function(a,b) {\n    return a.x - b.x;\n});\n\nif (PV.length > 1) {\nconst data = [{\n\"series\": [\"Pressure\"],\n\"data\": [PV],\n\"labels\": [\"\"]\n}]\n\nmsg.payload = data;\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1580,"wires":[["6f6817aa.e73918"]]},{"id":"4447db6e.c02234","type":"inject","z":"4a76e9d0.c082a8","name":"Чистка графика","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":860,"y":1660,"wires":[["6f6817aa.e73918"]]},{"id":"d8c30480.3e0da8","type":"mongodb3 in","z":"4a76e9d0.c082a8","service":"_ext_","configNode":"d198427c.7492d","name":"","collection":"Data","operation":"find.toArray","x":880,"y":1540,"wires":[["dc8ffbc6.4392f8"]]},{"id":"fc8b4ac0.232b68","type":"function","z":"4a76e9d0.c082a8","name":"","func":"flow.set(\"dateTemp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1460,"wires":[["2fca6c31.0fbd84"]]},{"id":"46c850c5.b950e","type":"ui_date_picker","z":"4a76e9d0.c082a8","name":"","label":"","group":"a11a850e.501798","order":11,"width":5,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":830,"y":1420,"wires":[["fc8b4ac0.232b68"]]},{"id":"6f6817aa.e73918","type":"ui_chart","z":"4a76e9d0.c082a8","name":"График CO2","group":"a11a850e.501798","order":3,"width":24,"height":7,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"График CO2, ожидание данных...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#69ab79","#aec7e8","#ff7f0e","#131313","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":1620,"wires":[[]]},{"id":"d8695831.4c3bc8","type":"function","z":"4a76e9d0.c082a8","name":"","func":"\nif(msg.payload != \"\") {\n   return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1240,"wires":[["6ae3ffa2.719b3"]]},{"id":"f098a8de.938258","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV=0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nif (state != 10) {\n   msg.payload = {\"PV\":String(PV.toFixed(2)), \"state\": state,'EI':\"°С\"};\n} else {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":100,"wires":[["dfc55e37.486a3"]]},{"id":"dfc55e37.486a3","type":"ui_template","z":"4a76e9d0.c082a8","group":"34103759.036488","name":"Темпр реал","order":30,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateHum\" style=\"font-family: system-ui;background-color: {{(msg.payload.state === 1)  ? '#35bd8b\t': (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10)  ? '30px' :'80px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n<!--  ##457451\tзеленый -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":610,"y":100,"wires":[[]]},{"id":"ac9aa84c.0542a8","type":"ui_template","z":"4a76e9d0.c082a8","group":"34103759.036488","name":"ppm","order":32,"width":6,"height":3,"format":"<div id=\"stateHum\" align=\"center\" style=\"font-family: system-ui; width: 306px; height: 120px;background-color: {{(msg.payload.state === 1)  ? '#35bd8b' : (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10 || msg.payload.state === 6)  ? '40px' :'60px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n\n<!-- cd00cd -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":530,"y":680,"wires":[[]]},{"id":"2fe33b7d.339a84","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV=0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nif (state != 10) {\n   msg.payload = {\"PV\":String(PV.toFixed()), \"state\": state,'EI':\"ppm\"};\n} else {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":680,"wires":[["ac9aa84c.0542a8"]]},{"id":"b28eb8f0.0932b8","type":"ui_template","z":"4a76e9d0.c082a8","group":"34103759.036488","name":"hum","order":43,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateHum\" style=\"font-family: system-ui;background-color: {{(msg.payload.state === 1)  ? '#35bd8b' : (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10)  ? '40px' :'80px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n\n<!-- cd00cd -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":590,"y":360,"wires":[[]]},{"id":"fb4f0c73.b7db4","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV=0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nif (state != 10) {\n   msg.payload = {\"PV\":String(PV.toFixed(2)), \"state\": state,'EI':\"%\"};\n} else {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":360,"wires":[["b28eb8f0.0932b8"]]},{"id":"38a96259.7b0b8e","type":"ui_template","z":"4a76e9d0.c082a8","group":"34103759.036488","name":"press","order":34,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateHum\" style=\"font-family: system-ui; width: 306px; height: 120px;background-color: {{(msg.payload.state === 1)  ? '#35bd8b' : (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10 || msg.payload.state === 6)  ? '40px' :'80px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n\n<!-- cd00cd -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":550,"y":1020,"wires":[[]]},{"id":"2bcebd5a.d22952","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV=0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nif (state != 10) {\n   msg.payload = {\"PV\":String(PV.toFixed(2)), \"state\": state,'EI':\"ATM\"};\n} else {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1020,"wires":[["38a96259.7b0b8e"]]},{"id":"622a83a7.21842c","type":"ui_template","z":"4a76e9d0.c082a8","group":"34103759.036488","name":"CO2","order":36,"width":6,"height":3,"format":"<div align=\"center\" id=\"stateHum\" style=\"font-family: system-ui; width: 306px; height: 120px;background-color: {{(msg.payload.state === 1)  ? '#35bd8b' : (msg.payload.state === 2)  ? '#fe8f02' :(msg.payload.state === 3)  ? '#f2596b' :(msg.payload.state === 4)  ? '#fe8f02' :(msg.payload.state === 5)  ? '#f2596b' : (msg.payload.state === 10)  ? '#F0E68C' :'#cd00cd'}};color: #ffffff;font-size: {{(msg.payload.state === 10 || msg.payload.state === 6)  ? '40px' :'80px'}};text-align: center;\">{{msg.payload.PV}}<span style=\"font-size:50%\"> {{msg.payload.EI}}</span></div>\n\n<!-- cd00cd -->","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":550,"y":1280,"wires":[[]]},{"id":"c1478750.762b78","type":"function","z":"4a76e9d0.c082a8","name":"","func":"const {id, PV = 0, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\nif (PV == null && state == 6) {\n    msg.payload = {\"PV\":\"Сбой датчика\", \"state\": state,'EI':\"\"};\n    return msg;\n}\nif (state != 10 && PV != null) {\n   msg.payload = {\"PV\":String(PV.toFixed(2)), \"state\": state,'EI':\"%\"};\n   return msg;\n} \n\nif(state == 10) {\n    msg.payload ={\"PV\":\"Нет сигнала\", \"state\": state, \"EI\":\"\"};\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1280,"wires":[["622a83a7.21842c"]]},{"id":"7e13ad0f.d9e684","type":"debug","z":"4a76e9d0.c082a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":1480,"wires":[]},{"id":"1a3a1e9e.f6e381","type":"http in","z":"6b04aa9f.84f134","name":"","url":"/devices","method":"get","upload":false,"swaggerDoc":"","x":210,"y":240,"wires":[["686ae022.04369","89b711d2.e185b"]]},{"id":"e1f91d21.ad2a5","type":"http response","z":"6b04aa9f.84f134","name":"Отправка ОК","statusCode":"200","headers":{"content-type":"application/json","Authorization":""},"x":1000,"y":260,"wires":[]},{"id":"64bb9b3f.8d0f14","type":"function","z":"6b04aa9f.84f134","name":"","func":"if (!msg.payload.id) {\n    msg.payload = {\n    error: 'Ошибка запроса, не указан id устройства'\n }\n return [ null, msg ];\n}\nelse{\n    msg.payload={\n    id:+msg.payload.id\n    }\n    return [ msg, null ];\n}\nreturn [ null, null ];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["8ba82639.431038","686ae022.04369"],["e1f91d21.ad2a5"]]},{"id":"f374aaec.7967e8","type":"function","z":"6b04aa9f.84f134","name":"","func":"// if (msg.payload.id == true){\n//     return msg;\n// }\nif(JSON.stringify(msg.payload)=='{}'){\n    msg.payload={\n        error: 'Устройство с данным id не найдено'\n    }\n    return msg;\n}\nelse{\n    return [ msg, null ];\n}\n\nreturn [ null, null ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":200,"wires":[["e1f91d21.ad2a5"]]},{"id":"8ba82639.431038","type":"mongodb3 in","z":"6b04aa9f.84f134","service":"_ext_","configNode":"39aca40e.217b3c","name":"База_Sensors","collection":"Sensors","operation":"find.toArray","x":760,"y":180,"wires":[["cd19cf52.f56e1","f374aaec.7967e8"]]},{"id":"686ae022.04369","type":"debug","z":"6b04aa9f.84f134","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"8e85fd7.4ce8","type":"http in","z":"6b04aa9f.84f134","name":"","url":"/device","method":"get","upload":false,"swaggerDoc":"","x":210,"y":320,"wires":[["64bb9b3f.8d0f14"]]},{"id":"89b711d2.e185b","type":"function","z":"6b04aa9f.84f134","name":"","func":"if (msg.payload.id) {\n    msg.payload = {\n    error: 'Ошибка запроса, ID устройства не требуется'\n }\n return [ null, msg ];\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["8ba82639.431038"],["e1f91d21.ad2a5"]]},{"id":"cb52b894.501978","type":"http in","z":"6b04aa9f.84f134","name":"","url":"/device/data","method":"get","upload":false,"swaggerDoc":"","x":220,"y":400,"wires":[["397bb6f8.03022a"]],"info":"**Пример запроса: /device/data?id=0&start=1626261582000**"},{"id":"397bb6f8.03022a","type":"function","z":"6b04aa9f.84f134","name":"","func":"const now = Date.now();\n\nif (!msg.payload.id) {\n    msg.payload = {\n        \n    error: 'Ошибка запроса, не указан id устройства'\n    \n }\n\n  return [ null, msg ];\n  \n} \n\nif (!msg.payload.start) {\n    msg.payload = {\n        \n    error: 'Ошибка запроса, нет метки времени (start)'\n    \n }\n\n  return [ null, msg ];\n  \n}else {\n   if(!msg.payload.end){\n       msg.payload={\n           id: +msg.payload.id,\n           ts : {$gte: +msg.payload.start*1000}\n       }\n        return [ msg, null ];\n   }\n   msg.payload = {\n   id: +msg.payload.id,\n   $and : [ {ts : {$lte: +msg.payload.end*1000}}, {ts : {$gte: +msg.payload.start*1000}} ]\n } \n \n return [ msg, null ];\n \n}\n\nreturn [ null, null ];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["6fba573b.b68628","268c6743.9c9038"],["c5197327.ec59b","268c6743.9c9038"]]},{"id":"6fba573b.b68628","type":"mongodb3 in","z":"6b04aa9f.84f134","service":"_ext_","configNode":"39aca40e.217b3c","name":"База_Data","collection":"Data","operation":"find.toArray","x":770,"y":380,"wires":[["42f4d9d1.6c5c78","368fa6c5.2a53ba"]]},{"id":"c5197327.ec59b","type":"http response","z":"6b04aa9f.84f134","name":"Отправка ОК","statusCode":"200","headers":{"content-type":"application/json"},"x":1000,"y":460,"wires":[]},{"id":"42f4d9d1.6c5c78","type":"function","z":"6b04aa9f.84f134","d":true,"name":"","func":"// //if (msg.payload.id == true){\n// //    return msg;\n// //}\n// if (JSON.stringify(msg.payload) == \"{}\") {\n//   msg.payload = {\n//     error: \"Устройство с данным id не найдено\",\n//   };\n//   return msg;\n// } else {\n//   let chats = Object.keys(msg.payload);\n//   let BaseExport = {};\n//   let AllBaseExport = {};\n//   let Mass = [];\n//   chats.forEach(function (id, i, chats) {\n//     let idd = 0;\n//     if (id == 0) {\n//       idd = 1;\n//     } else {\n//       idd = id - 1;\n//     }\n//     //node.warn(msg.payload[id].param);\n//     node.warn(\n//       (BaseExport = {\n//         id: msg.payload[id].id,\n//         name: msg.payload[id].name,\n//         params: [\n//           //{[msg.payload[+idd].param]:msg.payload[+idd]},\n//           //{[msg.payload[+id].param]:msg.payload[+id]}\n//           {\n//             [msg.payload[+idd].param]: {\n//               PV: msg.payload[+idd].PV,\n//               HH: msg.payload[+idd].HH,\n//               H: msg.payload[+idd].H,\n//               L: msg.payload[+idd].L,\n//               LL: msg.payload[+idd].LL,\n//               delayHH: msg.payload[+idd].delayHH,\n//               delayH: msg.payload[+idd].delayH,\n//               delayL: msg.payload[+idd].delayL,\n//               delayLL: msg.payload[+idd].delayLL,\n//               timerHH: msg.payload[+idd].timerHH,\n//               timerH: msg.payload[+idd].timerH,\n//               timerL: msg.payload[+idd].timerL,\n//               timerLL: msg.payload[+idd].timerLL,\n//               state: msg.payload[+idd].state,\n//               flag: msg.payload[+idd].flag,\n//               mask: msg.payload[+idd].mask,\n//               ts: msg.payload[+idd].ts,\n//             },\n//           },\n//           {\n//             [msg.payload[+id].param]: {\n//               PV: msg.payload[+id].PV,\n//               HH: msg.payload[+id].HH,\n//               H: msg.payload[+id].H,\n//               L: msg.payload[+id].L,\n//               LL: msg.payload[+id].LL,\n//               delayHH: msg.payload[+id].delayHH,\n//               delayH: msg.payload[+id].delayH,\n//               delayL: msg.payload[+id].delayL,\n//               delayLL: msg.payload[+id].delayLL,\n//               timerHH: msg.payload[+id].timerHH,\n//               timerH: msg.payload[+id].timerH,\n//               timerL: msg.payload[+id].timerL,\n//               timerLL: msg.payload[+id].timerLL,\n//               state: msg.payload[+id].state,\n//               flag: msg.payload[+id].flag,\n//               mask: msg.payload[+id].mask,\n//               ts: msg.payload[+id].ts,\n//                         },\n//           },\n//         ],\n//       })\n//     );\n//     Mass.push(BaseExport);\n//     //msg.payload = BaseExpor\n//     // AllBaseExport = {\n//     //     id:BaseExport\n//     // }\n//   });\n//   msg.payload = Mass;\n//   return [msg, null];\n// }\n\n// return [null, null];\n\n// ---------------------------НОВАЯ ФУНКЦИЯ------------------------------------\n\n\n// if (msg.payload.id == true){\n//     return msg;\n// }\nif (JSON.stringify(msg.payload) == \"{}\") {\n    msg.payload = {\n      error: \"Устройство с данным id не найдено\",\n    };\n    return msg;\n  } else {\n    let chats = Object.keys(msg.payload);\n    let BaseExport = {};\n    let AllBaseExport = {};\n    let Mass = [];\n    chats.forEach(function (id, i, chats) {\n      let idd = 0;\n      let id2 =0;\n      let id3 = 0;\n      let id4 = 0;\n      if (id >= 4) {\n        idd = 1;\n        id2 = 1;\n        id3 = 1;\n        id4 = 1;\n      } else {\n        idd = id - 1;\n        id2 = id - 2;\n        id3 = id - 3;\n        id4 = id - 4;\n      }\n      //node.warn(msg.payload[id].param);\n      node.warn(\n        (BaseExport = {\n          id: msg.payload[id].id,\n          name: msg.payload[id].name,\n          params: [\n            //{[msg.payload[+idd].param]:msg.payload[+idd]},\n            //{[msg.payload[+id].param]:msg.payload[+id]}\n            {\n              [msg.payload[+idd].param]: {\n                PV: msg.payload[+idd].PV,\n                HH: msg.payload[+idd].HH,\n                H: msg.payload[+idd].H,\n                L: msg.payload[+idd].L,\n                LL: msg.payload[+idd].LL,\n                delayHH: msg.payload[+idd].delayHH,\n                delayH: msg.payload[+idd].delayH,\n                delayL: msg.payload[+idd].delayL,\n                delayLL: msg.payload[+idd].delayLL,\n                timerHH: msg.payload[+idd].timerHH,\n                timerH: msg.payload[+idd].timerH,\n                timerL: msg.payload[+idd].timerL,\n                timerLL: msg.payload[+idd].timerLL,\n                state: msg.payload[+idd].state,\n                flag: msg.payload[+idd].flag,\n                mask: msg.payload[+idd].mask,\n                ts: msg.payload[+idd].ts,\n              },\n            },\n            {\n              [msg.payload[+id].param]: {\n                PV: msg.payload[+id].PV,\n                HH: msg.payload[+id].HH,\n                H: msg.payload[+id].H,\n                L: msg.payload[+id].L,\n                LL: msg.payload[+id].LL,\n                delayHH: msg.payload[+id].delayHH,\n                delayH: msg.payload[+id].delayH,\n                delayL: msg.payload[+id].delayL,\n                delayLL: msg.payload[+id].delayLL,\n                timerHH: msg.payload[+id].timerHH,\n                timerH: msg.payload[+id].timerH,\n                timerL: msg.payload[+id].timerL,\n                timerLL: msg.payload[+id].timerLL,\n                state: msg.payload[+id].state,\n                flag: msg.payload[+id].flag,\n                mask: msg.payload[+id].mask,\n                ts: msg.payload[+id].ts,\n                          },\n            },\n            {\n                [msg.payload[+id2].param]: {\n                  PV: msg.payload[+id2].PV,\n                  HH: msg.payload[+id2].HH,\n                  H: msg.payload[+id2].H,\n                  L: msg.payload[+id2].L,\n                  LL: msg.payload[+id2].LL,\n                  delayHH: msg.payload[+id2].delayHH,\n                  delayH: msg.payload[+id2].delayH,\n                  delayL: msg.payload[+id2].delayL,\n                  delayLL: msg.payload[+id2].delayLL,\n                  timerHH: msg.payload[+id2].timerHH,\n                  timerH: msg.payload[+id2].timerH,\n                  timerL: msg.payload[+id2].timerL,\n                  timerLL: msg.payload[+id2].timerLL,\n                  state: msg.payload[+id2].state,\n                  flag: msg.payload[+id2].flag,\n                  mask: msg.payload[+id2].mask,\n                  ts: msg.payload[+id2].ts,\n                            },\n              },\n              {\n                [msg.payload[+id3].param]: {\n                  PV: msg.payload[+id3].PV,\n                  HH: msg.payload[+id3].HH,\n                  H: msg.payload[+id3].H,\n                  L: msg.payload[+id3].L,\n                  LL: msg.payload[+id3].LL,\n                  delayHH: msg.payload[+id3].delayHH,\n                  delayH: msg.payload[+id3].delayH,\n                  delayL: msg.payload[+id3].delayL,\n                  delayLL: msg.payload[+id3].delayLL,\n                  timerHH: msg.payload[+id3].timerHH,\n                  timerH: msg.payload[+id3].timerH,\n                  timerL: msg.payload[+id3].timerL,\n                  timerLL: msg.payload[+id3].timerLL,\n                  state: msg.payload[+id3].state,\n                  flag: msg.payload[+id3].flag,\n                  mask: msg.payload[+id3].mask,\n                  ts: msg.payload[+id3].ts,\n                            },\n              },\n              {\n                [msg.payload[+id4].param]: {\n                  PV: msg.payload[+id4].PV,\n                  HH: msg.payload[+id4].HH,\n                  H: msg.payload[+id4].H,\n                  L: msg.payload[+id4].L,\n                  LL: msg.payload[+id4].LL,\n                  delayHH: msg.payload[+id4].delayHH,\n                  delayH: msg.payload[+id4].delayH,\n                  delayL: msg.payload[+id4].delayL,\n                  delayLL: msg.payload[+id4].delayLL,\n                  timerHH: msg.payload[+id4].timerHH,\n                  timerH: msg.payload[+id4].timerH,\n                  timerL: msg.payload[+id4].timerL,\n                  timerLL: msg.payload[+id4].timerLL,\n                  state: msg.payload[+id4].state,\n                  flag: msg.payload[+id4].flag,\n                  mask: msg.payload[+id4].mask,\n                  ts: msg.payload[+id4].ts,\n                            },\n              },\n          ],\n        })\n      );\n      Mass.push(BaseExport);\n      //msg.payload = BaseExpor\n      // AllBaseExport = {\n      //     id:BaseExport\n      // }\n    });\n    msg.payload = Mass;\n    return [msg, null];\n  }\n  \n  return [null, null];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":380,"wires":[["c5197327.ec59b"]]},{"id":"268c6743.9c9038","type":"debug","z":"6b04aa9f.84f134","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"cd19cf52.f56e1","type":"debug","z":"6b04aa9f.84f134","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":100,"wires":[]},{"id":"c2153d0.5cfaec","type":"debug","z":"6b04aa9f.84f134","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":360,"wires":[]},{"id":"368fa6c5.2a53ba","type":"function","z":"6b04aa9f.84f134","name":"","func":"arr = Object.keys(msg.payload);\n//node.warn(arr);\nlet Mass = [];\nlet params = {};\narr.forEach((arr) => {\n    //node.warn(msg.payload[+arr].param);\n    //node.warn(msg.payload[+arr].PV);\n    if (msg.payload[+arr].id == 0) {\n        let arr1 = 0;\n        if (+arr == 0) {\n            arr1 = arr + 1;\n        }\n        else {\n            arr1 = arr - 1;\n        }\n        \n        params = {\n            id: msg.payload[+arr].id,\n            name: msg.payload[+arr].name,\n            \n            params: [\n                {\n                    [msg.payload[+arr].param]:\n                    {\n                        PV: msg.payload[+arr].PV,\n                        HH: msg.payload[+arr].HH,\n                        H: msg.payload[+arr].H,\n                        L: msg.payload[+arr].L,\n                        LL: msg.payload[+arr].LL,\n                        \n                        delayHH: msg.payload[+arr].delayHH,\n                        delayH: msg.payload[+arr].delayH,\n                        delayL: msg.payload[+arr].delayL,\n                        delayLL: msg.payload[+arr].delayLL,\n                        \n                        timerHH: msg.payload[+arr].timerHH,\n                        timerH: msg.payload[+arr].timerH,\n                        timerL: msg.payload[+arr].timerL,\n                        timerLL: msg.payload[+arr].timerLL,\n                        \n                        state: msg.payload[+arr].state,\n                        flag: msg.payload[+arr].flag,\n                        mask: msg.payload[+arr].mask,\n                        ts: msg.payload[+arr].ts\n                    }\n                },\n                \n                {\n                    [msg.payload[+arr1].param]:\n                    {\n                        PV: msg.payload[+arr1].PV,\n                        HH: msg.payload[+arr1].HH,\n                        H: msg.payload[+arr1].H,\n                        L: msg.payload[+arr1].L,\n                        LL: msg.payload[+arr1].LL,\n                        \n                        delayHH: msg.payload[+arr1].delayHH,\n                        delayH: msg.payload[+arr1].delayH,\n                        delayL: msg.payload[+arr1].delayL,\n                        delayLL: msg.payload[+arr1].delayLL,\n                        \n                        timerHH: msg.payload[+arr1].timerHH,\n                        timerH: msg.payload[+arr1].timerH,\n                        timerL: msg.payload[+arr1].timerL,\n                        timerLL: msg.payload[+arr1].timerLL,\n                        \n                        state: msg.payload[+arr1].state,\n                        flag: msg.payload[+arr1].flag,\n                        mask: msg.payload[+arr1].mask,\n                        ts: msg.payload[+arr1].ts,\n                    }\n                }\n                \n                ]\n            \n            // [msg.payload[+arr].param]: msg.payload[+arr].PV,\n            // [msg.payload[+arr1].param]: msg.payload[+arr1].PV,\n            \n            // temp_HH: msg.payload[+arr].HH,\n            // hum_HH:msg.payload[+arr1].HH,\n            // temp_H: msg.payload[+arr].H,\n            // hum_H: msg.payload[+arr1].H,\n            // temp_L: msg.payload[+arr].L,\n            // hum_L:msg.payload[+arr1].L,\n            // temp_LL: msg.payload[+arr].LL,\n            // hum_LL: msg.payload[+arr1].LL,\n            \n    //         temp_delayHH: msg.payload[+arr].delayHH,\n    //         hum_delayHH:msg.payload[+arr1].delayHH,\n    //         temp_delayH: msg.payload[+arr].delayH,\n    //         hum_delayH: msg.payload[+arr1].delayH,\n    //         temp_delayL: msg.payload[+arr].delayL,\n    //         hum_delayL:msg.payload[+arr1].delayL,\n    //         temp_delayLL: msg.payload[+arr].delayLL,\n    //         hum_delayLL: msg.payload[+arr1].delayLL,\n            \n    //         temp_timerHH: msg.payload[+arr].timerHH,\n    //         hum_timerHH:msg.payload[+arr1].timerHH,\n    //         temp_timerH: msg.payload[+arr].timerH,\n    //         hum_timerH: msg.payload[+arr1].timerH,\n    //         temp_timerL: msg.payload[+arr].timerL,\n    //         hum_timerL:msg.payload[+arr1].timerL,\n    //         temp_timerLL: msg.payload[+arr].timerLL,\n    //         hum_timerLL: msg.payload[+arr1].timerLL,\n            \n    //         temp_state: msg.payload[+arr].state,\n    //         hum_state: msg.payload[+arr1].state,\n    //         temp_flag: msg.payload[+arr].flag,\n    //         hum_flag: msg.payload[+ar1r].flag,\n    //         temp_mask: msg.payload[+arr].mask,\n    //         hum_mask: msg.payload[+ar1r].mask,\n    //         temp_ts: msg.payload[+arr].ts,\n    //         hum_ts: msg.payload[+arr1].ts\n        }\n}\n    else {\n        params = {\n            id: msg.payload[+arr].id,\n            name: msg.payload[+arr].name,\n            //[msg.payload[+arr].param]: msg.payload[+arr].PV,\n            param: msg.payload[+arr].param,\n            PV: msg.payload[+arr].PV,\n            HH: msg.payload[+arr].HH,\n            H: msg.payload[+arr].H,\n            L: msg.payload[+arr].L,\n            LL: msg.payload[+arr].LL,\n            delayHH: msg.payload[+arr].delayHH,\n            delayH: msg.payload[+arr].delayH,\n            delayL: msg.payload[+arr].delayL,\n            delayLL: msg.payload[+arr].delayLL,\n            timerHH: msg.payload[+arr].timerHH,\n            timerH: msg.payload[+arr].timerH,\n            timerL: msg.payload[+arr].timerL,\n            timerLL: msg.payload[+arr].timerLL,\n            state: msg.payload[+arr].state,\n            flag: msg.payload[+arr].flag,\n            mask: msg.payload[+arr].mask,\n            ts: msg.payload[+arr].ts\n        };\n    }\n    Mass.push(params);\n});\n\nif(JSON.stringify(msg.payload)=='{}'){\n    msg.payload={\n        error: 'Устройство с данным id не найдено, либо нет данных за выбранный период'\n    }\n    return msg;\n}\n\nmsg.payload = Mass;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":340,"wires":[["c5197327.ec59b","c2153d0.5cfaec"]]},{"id":"502caddc.64deb4","type":"http in","z":"6b04aa9f.84f134","name":"","url":"/device/log","method":"get","upload":false,"swaggerDoc":"","x":220,"y":680,"wires":[["de5dcf72.1f908"]],"info":"**Пример запроса: /device/data?id=0&start=1626261582000**"},{"id":"de5dcf72.1f908","type":"function","z":"6b04aa9f.84f134","name":"","func":"const now = Date.now();\n\nif (!msg.payload.id) {\n    msg.payload = {\n        \n    error: 'Ошибка запроса, не указан id устройства'\n    \n }\n \n return [ null, msg ];\n  \n} \n\nif (!msg.payload.start) {\n    msg.payload = {\n        \n    error: 'Ошибка запроса, нет метки времени (start)'\n    \n }\n \n return [ null, msg ];\n \n}else {\n   if(!msg.payload.end){\n       msg.payload={\n           id: +msg.payload.id,\n           ts : {$gte: +msg.payload.start*1000}\n       }\n        return [ msg, null ];\n   }\n   msg.payload = {\n   id: +msg.payload.id,\n   $and : [ {ts : {$lte: +msg.payload.end*1000}}, {ts : {$gte: +msg.payload.start*1000}} ]\n } \n \n return [ msg, null ];\n \n}\n\nreturn [ null, null ];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":680,"wires":[["4c6c0784.edd838","e69145f2.f93ae8"],["5392ab83.f2c244","e69145f2.f93ae8"]]},{"id":"4c6c0784.edd838","type":"mongodb3 in","z":"6b04aa9f.84f134","service":"_ext_","configNode":"39aca40e.217b3c","name":"База_Log","collection":"Log","operation":"find.toArray","x":760,"y":660,"wires":[["934165ed.29a048"]]},{"id":"5392ab83.f2c244","type":"http response","z":"6b04aa9f.84f134","name":"Отправка ОК","statusCode":"200","headers":{"content-type":"application/json"},"x":1000,"y":740,"wires":[]},{"id":"e69145f2.f93ae8","type":"debug","z":"6b04aa9f.84f134","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":600,"wires":[]},{"id":"838e626d.981ee","type":"debug","z":"6b04aa9f.84f134","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":660,"wires":[]},{"id":"934165ed.29a048","type":"function","z":"6b04aa9f.84f134","name":"","func":"arr = Object.keys(msg.payload);\n//node.warn(arr);\nlet Mass = [];\nlet params = {};\narr.forEach((arr) => {\n    //node.warn(msg.payload[+arr].param);\n    //node.warn(msg.payload[+arr].PV);\n        params = {\n            id: msg.payload[+arr].id,\n            log: msg.payload[+arr].log,\n            ts: msg.payload[arr].ts\n        }\n    Mass.push(params);\n});\n\nif(JSON.stringify(msg.payload)=='{}'){\n    msg.payload={\n        error: 'Устройство с данным id не найдено, либо нет данных за выбранный период'\n    }\n    return msg;\n}\n\nmsg.payload = Mass;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":620,"wires":[["5392ab83.f2c244","838e626d.981ee"]]},{"id":"cd14f5bb.eadff8","type":"http in","z":"6b04aa9f.84f134","name":"","url":"/devices/log","method":"get","upload":false,"swaggerDoc":"","x":220,"y":820,"wires":[["223cb8f9.afd2a8"]]},{"id":"223cb8f9.afd2a8","type":"function","z":"6b04aa9f.84f134","name":"","func":"if (msg.payload.id) {\n    msg.payload = {\n    error: 'Ошибка запроса, ID устройства не требуется'\n }\n return [ null, msg ];\n}\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":820,"wires":[["1b29e25f.6224ce","162be7f2.f18e68"],["1b29e25f.6224ce","f0a60ffb.57739"]]},{"id":"162be7f2.f18e68","type":"mongodb3 in","z":"6b04aa9f.84f134","service":"_ext_","configNode":"39aca40e.217b3c","name":"База_Log","collection":"Log","operation":"find.toArray","x":640,"y":800,"wires":[["2470e5a0.da8a9a"]]},{"id":"1b29e25f.6224ce","type":"debug","z":"6b04aa9f.84f134","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":900,"wires":[]},{"id":"f0a60ffb.57739","type":"http response","z":"6b04aa9f.84f134","name":"Отправка ОК","statusCode":"200","headers":{"content-type":"application/json"},"x":980,"y":840,"wires":[]},{"id":"2470e5a0.da8a9a","type":"function","z":"6b04aa9f.84f134","name":"","func":"// if (msg.payload.id == true){\n//     return msg;\n// }\nif(JSON.stringify(msg.payload)=='{}'){\n    msg.payload={\n        error: 'Неверно задан запрос'\n    }\n    return msg;\n}\nelse{\n    return [ msg, null ];\n}\n\nreturn [ null, null ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":800,"wires":[["f0a60ffb.57739"]]},{"id":"dbecac1e.986b8","type":"function","z":"6b04aa9f.84f134","name":"","func":"arr = Object.keys(msg.payload);\n//node.warn(arr);\nlet Mass = [];\nlet params = {};\narr.forEach((arr) => {\n    //node.warn(msg.payload[+arr].param);\n    //node.warn(msg.payload[+arr].PV);\n    if (msg.payload[+arr].id == 0) {\n        let arr1 = 0;\n        if (+arr == 0) {\n            arr1 = arr + 1;\n        }\n        else {\n            arr1 = arr - 1;\n        }\n        params = {\n            id: msg.payload[+arr].id,\n            name: msg.payload[+arr].name,\n            \n            [msg.payload[+arr].param]: msg.payload[+arr].PV,\n            [msg.payload[+arr1].param]: msg.payload[+arr1].PV,\n            \n            temp_HH: msg.payload[+arr].HH,\n            hum_HH:msg.payload[+arr1].HH,\n            temp_H: msg.payload[+arr].H,\n            hum_H: msg.payload[+arr1].H,\n            temp_L: msg.payload[+arr].L,\n            hum_L:msg.payload[+arr1].L,\n            temp_LL: msg.payload[+arr].LL,\n            hum_LL: msg.payload[+arr1].LL,\n            \n            temp_delayHH: msg.payload[+arr].delayHH,\n            hum_delayHH:msg.payload[+arr1].delayHH,\n            temp_delayH: msg.payload[+arr].delayH,\n            hum_delayH: msg.payload[+arr1].delayH,\n            temp_delayL: msg.payload[+arr].delayL,\n            hum_delayL:msg.payload[+arr1].delayL,\n            temp_delayLL: msg.payload[+arr].delayLL,\n            hum_delayLL: msg.payload[+arr1].delayLL,\n            \n            temp_timerHH: msg.payload[+arr].timerHH,\n            hum_timerHH:msg.payload[+arr1].timerHH,\n            temp_timerH: msg.payload[+arr].timerH,\n            hum_timerH: msg.payload[+arr1].timerH,\n            temp_timerL: msg.payload[+arr].timerL,\n            hum_timerL:msg.payload[+arr1].timerL,\n            temp_timerLL: msg.payload[+arr].timerLL,\n            hum_timerLL: msg.payload[+arr1].timerLL,\n            \n            temp_state: msg.payload[+arr].state,\n            hum_state: msg.payload[+arr1].state,\n            temp_flag: msg.payload[+arr].flag,\n            hum_flag: msg.payload[+ar1r].flag,\n            temp_mask: msg.payload[+arr].mask,\n            hum_mask: msg.payload[+ar1r].mask,\n            temp_ts: msg.payload[+arr].ts,\n            hum_ts: msg.payload[+arr1].ts\n        }\n    }\n\n    else {\n        params = {\n            id: msg.payload[+arr].id,\n            name: msg.payload[+arr].name,\n            [msg.payload[+arr].param]: msg.payload[+arr].PV,\n            HH: msg.payload[+arr].HH,\n            H: msg.payload[+arr].H,\n            L: msg.payload[+arr].L,\n            LL: msg.payload[+arr].LL,\n            delayHH: msg.payload[+arr].delayHH,\n            delayH: msg.payload[+arr].delayH,\n            delayL: msg.payload[+arr].delayL,\n            delayLL: msg.payload[+arr].delayLL,\n            timerHH: msg.payload[+arr].timerHH,\n            timerH: msg.payload[+arr].timerH,\n            timerL: msg.payload[+arr].timerL,\n            timerLL: msg.payload[+arr].timerLL,\n            state: msg.payload[+arr].state,\n            flag: msg.payload[+arr].flag,\n            mask: msg.payload[+arr].mask,\n            ts: msg.payload[+arr].ts\n        };\n    }\n    Mass.push(params);\n});\n\nif(JSON.stringify(msg.payload)=='{}'){\n    msg.payload={\n        error: 'Устройство с данным id не найдено, либо нет данных за выбранный период'\n    }\n    return msg;\n}\n\nmsg.payload = Mass;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":300,"wires":[[]]},{"id":"61a023b5.b517fc","type":"inject","z":"4a76e9d0.c082a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":670,"y":1500,"wires":[["2fca6c31.0fbd84"]]},{"id":"895d2bc3.d37628","type":"inject","z":"cc354cd5.405b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":300,"wires":[["5835b66b.337b38"]]},{"id":"448b04b8.de64ac","type":"inject","z":"62bbc46.33bcf3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":160,"wires":[["4c490c36.6ba304"]]},{"id":"4c490c36.6ba304","type":"function","z":"62bbc46.33bcf3c","name":"Тест","func":"\nmsg.payload = {\n    id: msg.payload.uiwd.reg,\n    temperature: null,\n    ts: 12324546578\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":160,"wires":[["1a0fdbbe.5cc184"]]},{"id":"ba4c91d1.86dbb","type":"debug","z":"62bbc46.33bcf3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":220,"wires":[]},{"id":"9c592234.a470c","type":"catch","z":"62bbc46.33bcf3c","name":"","scope":null,"uncaught":false,"x":570,"y":60,"wires":[["7b0e94fb.750a3c"]]},{"id":"d1eabab4.de6f28","type":"debug","z":"62bbc46.33bcf3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":60,"wires":[]},{"id":"7b0e94fb.750a3c","type":"function","z":"62bbc46.33bcf3c","name":"","func":"let count = context.get('count')||0;\ncount += 1;\ncontext.set('count', count);\n\nnode.status({text:\"Ошибок: \" + count});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":60,"wires":[["d1eabab4.de6f28"]]},{"id":"749199e2.aa97b8","type":"catch","z":"4a76e9d0.c082a8","name":"","scope":null,"uncaught":false,"x":1020,"y":20,"wires":[["647e55c3.f4b24c"]]},{"id":"f14316a7.24d128","type":"debug","z":"4a76e9d0.c082a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":20,"wires":[]},{"id":"647e55c3.f4b24c","type":"function","z":"4a76e9d0.c082a8","name":"","func":"let count = context.get('count')||0;\ncount += 1;\ncontext.set('count', count);\n\nnode.status({text:\"Ошибок: \" + count});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":20,"wires":[["f14316a7.24d128"]]},{"id":"569e9666.9c6c28","type":"inject","z":"e80b9924.848358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":140,"wires":[[]]},{"id":"55a92bd3.58dbc4","type":"catch","z":"835154cf.f74e08","name":"","scope":null,"uncaught":false,"x":240,"y":40,"wires":[["8d28059.f752cf8"]]},{"id":"71fbab14.68b594","type":"debug","z":"835154cf.f74e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":40,"wires":[]},{"id":"8d28059.f752cf8","type":"function","z":"835154cf.f74e08","name":"","func":"let count = context.get('count')||0;\ncount += 1;\ncontext.set('count', count);\n\nnode.status({text:\"Ошибок: \" + count});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":40,"wires":[["71fbab14.68b594"]]},{"id":"18b47ac4.2225b5","type":"catch","z":"cc354cd5.405b1","name":"","scope":null,"uncaught":false,"x":200,"y":40,"wires":[["bd39f8f5.b156b8"]]},{"id":"df3aa99e.d97bb8","type":"debug","z":"cc354cd5.405b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":40,"wires":[]},{"id":"bd39f8f5.b156b8","type":"function","z":"cc354cd5.405b1","name":"","func":"let count = context.get('count')||0;\ncount += 1;\ncontext.set('count', count);\n\nnode.status({text:\"Ошибок: \" + count});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":40,"wires":[["df3aa99e.d97bb8"]]},{"id":"a7290d2b.62cfa","type":"delay","z":"4a76e9d0.c082a8","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":280,"wires":[["5e84bf87.7368c","531ffc85.8d6754","fa1d01d9.ae162","fb4f0c73.b7db4"]]},{"id":"485e911b.8c3f6","type":"delay","z":"4a76e9d0.c082a8","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":180,"y":620,"wires":[["d3a2bd2f.2aa9e","3c4550c7.0465f","2fe33b7d.339a84","86852339.d418e","3952ebf0.e0dc14"]]},{"id":"91c96c97.a077","type":"delay","z":"4a76e9d0.c082a8","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":180,"y":980,"wires":[["e9991ce9.b3f0f","85b52b85.453ed8","2bcebd5a.d22952","e2d26183.7d70a","86ef6e0b.3b4d9"]]},{"id":"bbe79a45.5ec738","type":"delay","z":"4a76e9d0.c082a8","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":180,"y":1260,"wires":[["f2ea0f63.aa9bc","d14175c1.f0b3f8","c1478750.762b78","422b58d9.ddf4b8","83b13e72.1e017","7e13ad0f.d9e684"]]},{"id":"b276a1c3.8e4bb","type":"inject","z":"4a76e9d0.c082a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":80,"y":1120,"wires":[["ab35434a.a3a0b"]]},{"id":"ab35434a.a3a0b","type":"function","z":"4a76e9d0.c082a8","name":"","func":"function getRandomArbitary(min, max){\n  return Math.random() * (max - min) + min;\n}\n\nmsg.payload = {\"id\":2,\"name\":\"BLG33\",\"param\":\"CO2\",\"PV\":getRandomArbitary(0.3,0.5) ,\"HH\":1,\"H\":0.7,\"L\":0.1,\"LL\":0.01,\"delayHH\":0,\"delayH\":0,\"delayL\":0,\"delayLL\":0,\"timerHH\":-1,\"timerH\":-1,\"timerL\":-1,\"timerLL\":-1,\"state\":1,\"flag\":2,\"mask\":0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":1180,"wires":[["bbe79a45.5ec738"]]},{"id":"f06e8c9e.c74ac","type":"inject","z":"cc354cd5.405b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":680,"wires":[["b2d114f9.76b868","2068686b.6b59d8"]]},{"id":"2068686b.6b59d8","type":"delay","z":"cc354cd5.405b1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":780,"wires":[["e0a8f1fc.25381"]]},{"id":"e0a8f1fc.25381","type":"delay","z":"cc354cd5.405b1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":250,"y":780,"wires":[["77281827.74ea78"]]},{"id":"d33b2338.f48ab","type":"debug","z":"4a76e9d0.c082a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":160,"y":800,"wires":[]},{"id":"67c58886.8839f8","type":"function","z":"cc354cd5.405b1","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":740,"wires":[["77281827.74ea78"]]}]