Бот.json
[{"id":"25c28b50.d8afa4","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"d28e7e24.6ea37","type":"tab","label":"MongoDB","disabled":false,"info":""},{"id":"5a2c7bcd.770444","type":"tab","label":"Поток 3","disabled":false,"info":""},{"id":"dc38d225.5cca8","type":"mqtt-broker","name":"NetWrk","broker":"192.168.137.1","port":"1883","clientid":"client7","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eb16c51d.991fd8","type":"telegram bot","botname":"Система оповещения лаборатории :)","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"10","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"d66a0216.351b1","type":"mqtt-broker","name":"","broker":"localhost:1880","port":"1883","clientid":"Server","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"867ae11a.dd969","type":"ui_tab","name":"Equipment 1.2","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"305cf957.0eb7e6","type":"ui_tab","name":"Laboratory equipment monitoring system","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"95fd1c52.5eea3","type":"ui_tab","name":"Equipment 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f284a554.8cb788","type":"ui_tab","name":"Equipment 3","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"687d0d12.c8c614","type":"ui_tab","name":"Equipment 4","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"79ad7ab0.de87b4","type":"ui_tab","name":"Equipment 2","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"21e2df48.3e44f","type":"ui_group","name":"Historical data","tab":"867ae11a.dd969","order":1,"disp":true,"width":"28","collapse":false},{"id":"34103759.036488","type":"ui_group","name":"","tab":"305cf957.0eb7e6","order":1,"disp":true,"width":19,"collapse":false},{"id":"a81dfb22.0ac0b8","type":"ui_group","name":"Real-time data display ","tab":"95fd1c52.5eea3","order":1,"disp":true,"width":"28","collapse":false},{"id":"839e3368.bd0e","type":"ui_group","name":"","tab":"f284a554.8cb788","order":1,"disp":true,"width":24,"collapse":false},{"id":"3852e8a9.f6ee68","type":"ui_group","name":"","tab":"687d0d12.c8c614","order":1,"disp":true,"width":24,"collapse":false},{"id":"c793a703.b62668","type":"ui_group","name":"","tab":"79ad7ab0.de87b4","order":1,"disp":true,"width":"20","collapse":false},{"id":"d198427c.7492d","type":"mongodb3","uri":"mongodb://localhost:27017/test","name":"База","options":"","parallelism":"-1"},{"id":"cd9e65dd.53a148","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2fb38ec8.788542","type":"mqtt-broker","name":"","broker":"192.168.137.1","port":"1883","clientid":"Danila","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"88a919e6.c184a8","type":"telegram bot","botname":"Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"ff78bc5a.00874","type":"telegram bot","z":"25c28b50.d8afa4","botname":"HeinzBot","usernames":"","chatids":""},{"id":"2db9661a.cf3b0a","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f054b417.5e0c58","type":"telegram bot","botname":"Bot1","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c3670dce.18aa8","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"d086776c.7de82","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a1d58b0b.7ad368","type":"mongodb3","uri":"mongodb://192.168.137.1:27017/test","name":"","options":"","parallelism":"-1"},{"id":"94618756.9d5ea8","type":"function","z":"25c28b50.d8afa4","name":"","func":"const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n//const msgs = []\n\n\n\nlet ab = flow.get('pst_t') || -1;\nlet chat_id = flow.get('chat_id_temp', 'file');\n\nfor(var i = 0; i< chat_id.length; i++) {\n\n\nif (state === 1) {\nflow.set(\"temp_state_text\", \"Температура в норме\"); \n//Past_State_Temp = 1;\n    if (ab != 1){\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"👌Температура в норме: \"+ PV + \"°С\"\n}};\n\n}\nflow.set('pst_t', 1);\n}\n\nelse if (state === 2) {\nflow.set(\"temp_state_text\", \"Превышение температуры\");    \nPast_State_Temp =2 ;\n    if (ab != 2) {\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🌡Превышение температуры: \"+ PV + \"°С\"\n}};\n\n}\nflow.set('pst_t', 2);\n}\n\nelse if (state === 3) {\nflow.set(\"temp_state_text\", \"Критическое превышение температуры\");\nPast_State_Temp = 3;\n    if (ab != 3) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🔥Критическое превышение температуры: \"+ PV + \"°С\"\n}};\n\n}\nflow.set('pst_t', 3);\n}\nelse if (state === 4) {\n    flow.set(\"temp_state_text\", \"Низкая температура\");\n    Past_State_Temp = 4;\n    if (ab != 4) {\n    \nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"❄Низкая температура: \"+ PV+\"°С\"\n}};\n\n}\n    flow.set('pst_t', 4);\n}\n\nelse if (state === 5) {\nflow.set(\"temp_state_text\", \"Критически низкая температуры\");\nPast_State_Temp = 5;\n    if (ab != 2) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🥶Критически низкая температура: \"+ PV+\"°С\"\n}};\n\n}\n    flow.set('pst_t', 5);\n}\n\nelse if (state === 6) {\nflow.set(\"temp_state_text\", \"ОШИБКА Температуры\");\nPast_State_Temp = 6;\n    if (ab != 6) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка Температуры:  \"+ PV+\"°С\"\n}};\n\n        \n    }\n    flow.set('pst_t', 6);\n}\n\nelse if (state === 10) {\nflow.set(\"temp_state_text\", \"ОШИБКА Температуры. Датчик недоступен\");\nPast_State_Temp = 10;\n    if (ab != 10) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка Температуры. Датчик недоступен:  \"+ PV+\"°С\"\n}};\n\n        \n    }\n    flow.set('pst_t', 10);\n}\n\nelse {msg.payload = state;}\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":480,"y":1100,"wires":[["bed99c56.18563","e34c63cb.8dc35"]]},{"id":"bed99c56.18563","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":700,"wires":[]},{"id":"2409e957.764086","type":"function","z":"25c28b50.d8afa4","name":"","func":"const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n//const msgs = []\nlet ab = flow.get('pst_h') || -1;\n\n let chat_id = flow.get('chat_id_hum', 'file');\n\nfor(var i = 0; i< chat_id.length; i++) {\n\n\nif (state === 1) {\nflow.set(\"hum_state_text\", \"Влажность в норме\"); \n//Past_State_hum = 1;\n    if (ab != 1){\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"👌Влажность в норме: \"+ PV + \"%\"\n}};\n\n}\nflow.set('pst_h', 1);\n}\n\nelse if (state === 2) {\nflow.set(\"hum_state_text\", \"Превышение влажность\");    \nPast_State_hum =2 ;\n    if (ab != 2) {\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"💧Превышение влажности: \"+ PV + \"%\"\n}};\n\n}\nflow.set('pst_h', 2);\n}\n\nelse if (state === 3) {\nflow.set(\"hum_state_text\", \"Критическое превышение влажности\");\nPast_State_hum = 3;\n    if (ab != 3) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"☔Критическое превышение влажности:  \"+ PV + \"%\"\n}};\n\n}\nflow.set('pst_h', 3);\n}\nelse if (state === 4) {\n    flow.set(\"hum_state_text\", \"Низкая Влажность\");\n    Past_State_hum = 4;\n    if (ab != 4) {\n    \nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"♨Низкая влажность: \"+ PV+\"%\"\n}};\n\n}\n    flow.set('pst_h', 4);\n}\n\nelse if (state === 5) {\nflow.set(\"hum_state_text\", \"Критически низкая влажность\");\nPast_State_hum = 5;\n    if (ab != 2) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🔥Критически низкая влажность: \"+ PV+\"%\"\n}};\n\n}\n    flow.set('pst_h', 5);\n}\n\nelse if (state === 6) {\nflow.set(\"hum_state_text\", \"ОШИБКА Влажности\");\nPast_State_hum = 6;\n    if (ab != 6) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка Влажности?:  \"+ PV+\"%\"\n}};\n\n        \n    }\n    flow.set('pst_h', 6);\n}\n\nelse if (state === 10) {\nflow.set(\"hum_state_text\", \"ОШИБКА Влажности. Датчик недоступен\");\nPast_State_hum = 10;\n    if (ab != 10) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка Влажности? Датчик недоступен:  \"+ PV+\"%\"\n}};\n\n        \n    }\n    flow.set('pst_h', 10);\n}\nelse {msg.payload = state;}\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1140,"wires":[["9eb3175c.52b738","e34c63cb.8dc35"]]},{"id":"9eb3175c.52b738","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":740,"wires":[]},{"id":"e34c63cb.8dc35","type":"telegram sender","z":"25c28b50.d8afa4","name":"SEND","bot":"88a919e6.c184a8","haserroroutput":false,"outputs":1,"x":1050,"y":1520,"wires":[[]]},{"id":"f315a04b.46feb","type":"telegram command","z":"25c28b50.d8afa4","name":"/temp","command":"/temp","description":"Температура","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":330,"y":1860,"wires":[["2ad6d675.f364ea"]]},{"id":"2ad6d675.f364ea","type":"function","z":"25c28b50.d8afa4","name":"temp unit","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst temp = flow.get(\"Temperature\") || 0;\nconst temp_state = flow.get(\"temp_state_text\") || 0;\n\n\n\nconst sTemp = `Температура: ${temp} °C\\r\\nСостояние: ${temp_state}`;\n\n\n\n\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n\nmsg.payload.content = sTemp;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1860,"wires":[["e34c63cb.8dc35","56e2b51b.93a6cc"]]},{"id":"7483e97a.76c008","type":"function","z":"25c28b50.d8afa4","name":"hum unit","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst Hum = flow.get(\"Humidity\") || 0;\nconst hum_state = flow.get(\"hum_state_text\") || 0;\n\n\nconst sHum = `Влажность: ${Hum} %\\r\\nСостояние: ${hum_state}`;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = sHum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1920,"wires":[["e34c63cb.8dc35","63ed9f87.1bb85"]]},{"id":"d6d3d87a.01f928","type":"function","z":"25c28b50.d8afa4","name":"start orig","func":"var helpMessage2 = \"Добро пожаловать, \" + msg.originalMessage.from.first_name;\n\nhelpMessage2 += \"\\r\\n\\n\";\nhelpMessage2 += \"Рады Вас приветствовать в телеграм боте мониторинга оборудования в лаборатории: \\r\\n\\n\";\n\nhelpMessage2 += \"*⚙ Рекомендуем ознакомиться со следующим списком команд:*\\r\\n\";\n\n\nhelpMessage2 += \"/start - главная страница\\r\\n\";\nhelpMessage2 += \"/equipments - открыть список оборудований\\r\\n\";\nhelpMessage2 += \"/sub - создать подписку на параметры\\r\\n\\n\";\n\nhelpMessage2 += \"🧪 *Команды для мониторинга оборудования: *\\r\\n\";\nhelpMessage2 += \"/temp - Отслеживание температуры\\r\\n\";\nhelpMessage2 += \"/hum - Отслеживание влажности\\r\\n\";\nhelpMessage2 += \"/co2 - Отслеживание углекислого газа\\r\\n\";\nhelpMessage2 += \"/par - Отслеживание частиц\\r\\n\";\nhelpMessage2 += \"/pres - Отслеживание давления\\r\\n\\n\";\n\n\nhelpMessage2 += \"*Ваш id: * \" + msg.payload.chatId;\nhelpMessage2 += \"\\r\\n\";\n\n\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n//msg.payload.options = {parse_mode: \"Markdown\"};\nmsg.payload.content = helpMessage2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1780,"wires":[["e34c63cb.8dc35"]]},{"id":"275d6417.2e316c","type":"telegram command","z":"25c28b50.d8afa4","name":"/sub             ","command":"/sub","description":"Sub","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":890,"y":2100,"wires":[["84c5f520.a95a78"]]},{"id":"82a1c140.2f351","type":"telegram command","z":"25c28b50.d8afa4","name":"/subtemp","command":"/subtemp","description":"sub hum","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":880,"y":2160,"wires":[["c5b20a8b.4acf38"]]},{"id":"c5b20a8b.4acf38","type":"function","z":"25c28b50.d8afa4","name":"sub temp ","func":"let id_tmp = flow.get('chat_id_temp', 'file');\nlet index = id_tmp.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_tmp.push(msg.payload.chatId);    \n    flow.set('chat_id_temp', id_tmp);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *Температуру* успешно оформлена \";\n}\nelse {\n    id_tmp.splice(index);\n    flow.set('chat_id_temp', id_tmp);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"❎Подписка на *Температуру* успешно отменена \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":2160,"wires":[["e34c63cb.8dc35","1eb0db7a.216205"]]},{"id":"a6c8485d.9e07d8","type":"telegram command","z":"25c28b50.d8afa4","name":"/subhum","command":"/subhum","description":"sub temp","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":880,"y":2220,"wires":[["5b31e1a5.14c5d"]]},{"id":"5b31e1a5.14c5d","type":"function","z":"25c28b50.d8afa4","name":"sub hum","func":"\nlet id_hum = flow.get('chat_id_hum', 'file');\nlet index = id_hum.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_hum.push(msg.payload.chatId);    \n    flow.set('chat_id_hum', id_hum);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *Влажность* успешно оформлена \";\n}\nelse {\n    id_hum.splice(index);\n    flow.set('chat_id_hum', id_hum);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"❎Подписка на *Влажность* успешно отменена \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":2220,"wires":[["e34c63cb.8dc35","6adf435.ed435bc"]]},{"id":"e3328df1.17fbb","type":"telegram command","z":"25c28b50.d8afa4","name":"/equipments","command":"/equipments","description":"Equipments ","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1050,"y":1820,"wires":[["f047022b.48acf"]]},{"id":"f047022b.48acf","type":"function","z":"25c28b50.d8afa4","name":"equip list","func":"var helpMessage2 = \"🔬*Список оборудования:* \\r\\n\\n\";\n\nhelpMessage2 += \"/SHT31 - Влажность, температура\\r\\n\";\nhelpMessage2 += \"/BLG33 - СО2 датчик\\r\\n\";\nhelpMessage2 += \"/PPD42 - Частицы\\r\\n\";\nhelpMessage2 += \"/BME280 - Давление\\r\\n\";\n\nmsg.payload.content = helpMessage2;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":1800,"wires":[["e34c63cb.8dc35"]]},{"id":"d26b9f82.69c81","type":"telegram command","z":"25c28b50.d8afa4","name":"/SHT31","command":"/SHT31","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1070,"y":1880,"wires":[["f490fdad.84514"]]},{"id":"f490fdad.84514","type":"function","z":"25c28b50.d8afa4","name":"hum nd temp sht31","func":"let helpMessage2 = \"🔬*Информация о датчике SHT31:* \\r\\n\";\nconst temp = flow.get(\"Temperature\") || 0;\nconst sTemp = `Температура: ${temp} °C`;\n\nconst Hum = flow.get(\"Humidity\") || 0;\nconst sHum = `Влажность: ${Hum} %`;\n\nhelpMessage2 += \"SHT31-DIS-B является датчиком влажности и температуры\\r\\n\\n\";\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n\nmsg.payload.content = helpMessage2;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1880,"wires":[["e34c63cb.8dc35","15831cf9.a7b6d3"]]},{"id":"cc0d1dd6.20cc5","type":"telegram command","z":"25c28b50.d8afa4","name":"/PPD42","command":"/PPD42","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1070,"y":1940,"wires":[["84124379.9b6cb"]]},{"id":"84124379.9b6cb","type":"function","z":"25c28b50.d8afa4","name":"par ppd","func":"var helpMessage2 = \"🔬*Информация о датчике PPD42:* \\r\\n\";\n\nconst par = flow.get(\"particle\") || 0;\nconst spar = `Частицы: ${par} ppm`;\n\n\n\n\nhelpMessage2 += \"Датчик определяющий частицы размером 1мкм - 2.5мкм в окружающем воздухe\\r\\n\\n\";\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n\nmsg.payload.content = helpMessage2;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1940,"wires":[["e34c63cb.8dc35","b6a31ae2.d80a38"]]},{"id":"94c401ba.22327","type":"telegram command","z":"25c28b50.d8afa4","name":"/BLG33","command":"/BLG33","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1070,"y":2000,"wires":[["b86f6d51.b9e04"]]},{"id":"b86f6d51.b9e04","type":"function","z":"25c28b50.d8afa4","name":"co2 gas blg","func":"var helpMessage2 = \"🔬*Информация о датчике BLG33:* \\r\\n\";\n\nconst gas = flow.get(\"gas\") || 0;\nconst sgas = `СО2: ${gas} %`;\n\n\nhelpMessage2 += \"Датчик, измереяющий уровень СО2 в коружающем воздухе\\r\\n\\n\";\n\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n\nmsg.payload.content = helpMessage2;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":2000,"wires":[["e34c63cb.8dc35","3dd9742.f7a428c"]]},{"id":"fdbd79cb.bede48","type":"telegram command","z":"25c28b50.d8afa4","name":"/start","command":"/start","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":1740,"wires":[["d6d3d87a.01f928"]]},{"id":"6a16e33.f3b761c","type":"telegram command","z":"25c28b50.d8afa4","name":"/temp","command":"/temp@lab_bc_bot","description":"Температура","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":330,"y":1860,"wires":[["2ad6d675.f364ea"]]},{"id":"44bb4b0f.5b92a4","type":"telegram command","z":"25c28b50.d8afa4","name":"/subtemp","command":"/subtemp@lab_bc_bot","description":"sub hum","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":880,"y":2160,"wires":[["c5b20a8b.4acf38"]]},{"id":"dbfbcc79.4af11","type":"telegram command","z":"25c28b50.d8afa4","name":"/subhum","command":"/subhum@lab_bc_bot","description":"sub temp","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":880,"y":2220,"wires":[["5b31e1a5.14c5d"]]},{"id":"f612bca5.6fd38","type":"telegram command","z":"25c28b50.d8afa4","name":"/equipments","command":"/equipments@lab_bc_bot","description":"Equipments ","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1050,"y":1820,"wires":[["f047022b.48acf"]]},{"id":"de62baf3.804858","type":"telegram command","z":"25c28b50.d8afa4","name":"/SHT31","command":"/SHT31@lab_bc_bot","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1070,"y":1880,"wires":[["f490fdad.84514"]]},{"id":"e32a85bb.4abce8","type":"telegram command","z":"25c28b50.d8afa4","name":"/PPD42","command":"/PPD42@lab_bc_bot","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1070,"y":1940,"wires":[["84124379.9b6cb"]]},{"id":"38cc8d4.5bcf672","type":"telegram command","z":"25c28b50.d8afa4","name":"/BLG33","command":"/BLG33@lab_bc_bot","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1070,"y":2000,"wires":[["b86f6d51.b9e04"]]},{"id":"d303abb9.a48a58","type":"mongodb3 in","z":"d28e7e24.6ea37","service":"_ext_","configNode":"a1d58b0b.7ad368","name":"","collection":"Data","operation":"find.toArray","x":1160,"y":700,"wires":[["7faf7f81.0f0dd"]]},{"id":"6cebd57b.95e4cc","type":"inject","z":"d28e7e24.6ea37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":700,"wires":[["d0d751c0.1faae"]]},{"id":"7faf7f81.0f0dd","type":"debug","z":"d28e7e24.6ea37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":700,"wires":[]},{"id":"d0d751c0.1faae","type":"function","z":"d28e7e24.6ea37","name":"","func":"msg.payload = {\n    id: 0,\n    ts : {\n        $gte:( Date.now() - (3600000))\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":700,"wires":[["d303abb9.a48a58"]]},{"id":"8214b4c8.2e5548","type":"inject","z":"5a2c7bcd.770444","name":"вот","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"тест/1111111","payload":"один","payloadType":"str","x":580,"y":320,"wires":[["d99be9e2.85f248","1960dccf.aa5cd3"]]},{"id":"d99be9e2.85f248","type":"debug","z":"5a2c7bcd.770444","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":320,"wires":[]},{"id":"1960dccf.aa5cd3","type":"mqtt out","z":"5a2c7bcd.770444","name":"","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2fb38ec8.788542","x":1180,"y":500,"wires":[]},{"id":"7f9b4255.e0afec","type":"mqtt in","z":"5a2c7bcd.770444","name":"","topic":"тест/#","qos":"2","datatype":"auto","broker":"2fb38ec8.788542","nl":false,"rap":true,"rh":0,"x":440,"y":720,"wires":[["d99be9e2.85f248"]]},{"id":"9de20a7f.0c22f8","type":"mqtt in","z":"25c28b50.d8afa4","name":"","topic":"устройство/+/температура","qos":"2","datatype":"json","broker":"2fb38ec8.788542","nl":false,"rap":true,"rh":0,"x":140,"y":240,"wires":[["49d200d3.624f8","a3c8c51c.d10fa8","94618756.9d5ea8"]]},{"id":"bd660a00.58c9e8","type":"mqtt in","z":"25c28b50.d8afa4","name":"","topic":"устройство/+/влажность","qos":"2","datatype":"json","broker":"2fb38ec8.788542","nl":false,"rap":true,"rh":0,"x":130,"y":320,"wires":[["755b9104.6a67a","58a92ec8.e8995","2409e957.764086"]]},{"id":"49d200d3.624f8","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"755b9104.6a67a","type":"function","z":"25c28b50.d8afa4","name":"","func":"flow.set(\"Humidity\", msg.payload.PV);\nflow.set(\"Humidity_state\", msg.payload.state);\n\n//const now = Date.now(); // date now\n\n//let now1 = context.get(\"data\")||now; // calendar\n//msg.payload = {\n     // ts:{$gte: now1-24*3600000},\n  //    $and:[{ts:{$lte:now+(24*3600000)}}, {ts:{$gte:now1}}],\n    //id:1\n//};\n\n//return msg;\n\nconst now = Date.now();\nconst now1 = msg.payload;\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000)}}, {ts: {$gte : now1}}],\n    //ts:{$gte: now-48*3600000},\n    id: 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[[]]},{"id":"58a92ec8.e8995","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":506.6666564941406,"y":341.6666259765625,"wires":[]},{"id":"a3c8c51c.d10fa8","type":"function","z":"25c28b50.d8afa4","name":"","func":"flow.set(\"Temperature\", msg.payload.PV);\nflow.set(\"Temperature_state\", msg.payload.state);\n\nconst now = Date.now();\nconst now1 = msg.payload;\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000)}}, {ts: {$gte : now1}}],\n    //ts:{$gte: now-48*3600000},\n    id: 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":200,"wires":[[]]},{"id":"b1ac5146.ea6ed","type":"mqtt in","z":"25c28b50.d8afa4","name":"","topic":"устройство/+/CO2","qos":"2","datatype":"json","broker":"2fb38ec8.788542","nl":false,"rap":true,"rh":0,"x":110,"y":440,"wires":[["4bfdda6c.3f3954","54d70111.16b84","ccb09c88.70b6d"]]},{"id":"cf942f9e.56481","type":"mqtt in","z":"25c28b50.d8afa4","name":"","topic":"устройство/+/частицы","qos":"2","datatype":"json","broker":"2fb38ec8.788542","nl":false,"rap":true,"rh":0,"x":120,"y":520,"wires":[["65b30dc4.4fc114","b951a52e.8579c8","5055b2f8.fd01dc"]]},{"id":"4bfdda6c.3f3954","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":440,"wires":[]},{"id":"65b30dc4.4fc114","type":"function","z":"25c28b50.d8afa4","name":"","func":"flow.set(\"particle\", msg.payload.PV);\nflow.set(\"particle_state\", msg.payload.state);\n\n//const now = Date.now(); // date now\n\n//let now1 = context.get(\"data\")||now; // calendar\n//msg.payload = {\n     // ts:{$gte: now1-24*3600000},\n  //    $and:[{ts:{$lte:now+(24*3600000)}}, {ts:{$gte:now1}}],\n    //id:1\n//};\n\n//return msg;\n\nconst now = Date.now();\nconst now1 = msg.payload;\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000)}}, {ts: {$gte : now1}}],\n    //ts:{$gte: now-48*3600000},\n    id: 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":500,"wires":[[]]},{"id":"b951a52e.8579c8","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":506.6666564941406,"y":541.6666259765625,"wires":[]},{"id":"54d70111.16b84","type":"function","z":"25c28b50.d8afa4","name":"","func":"flow.set(\"gas\", msg.payload.PV);\nflow.set(\"gas_state\", msg.payload.state);\n\nconst now = Date.now();\nconst now1 = msg.payload;\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000)}}, {ts: {$gte : now1}}],\n    //ts:{$gte: now-48*3600000},\n    id: 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":400,"wires":[[]]},{"id":"3b7261d7.a8d1fe","type":"mqtt in","z":"25c28b50.d8afa4","name":"","topic":"устройство/+/давление","qos":"2","datatype":"json","broker":"2fb38ec8.788542","nl":false,"rap":true,"rh":0,"x":120,"y":660,"wires":[["84ccf8e9.b35e98","57e29190.62dbc","c5e9f53b.702428"]]},{"id":"84ccf8e9.b35e98","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":660,"wires":[]},{"id":"57e29190.62dbc","type":"function","z":"25c28b50.d8afa4","name":"","func":"flow.set(\"pressure\", msg.payload.PV);\nflow.set(\"pressure_state\", msg.payload.state);\n\nconst now = Date.now();\nconst now1 = msg.payload;\n\nmsg.payload = {\n    $and: [{ts: {$lte : now1 + (24*3600000)}}, {ts: {$gte : now1}}],\n    //ts:{$gte: now-48*3600000},\n    id: 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":600,"wires":[[]]},{"id":"ccb09c88.70b6d","type":"function","z":"25c28b50.d8afa4","name":"","func":"const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n//const msgs = []\nlet ab = flow.get('pst_g') || -1;\n\n let chat_id = flow.get('chat_id_gas', 'file');\n\nfor(var i = 0; i< chat_id.length; i++) {\n\n\nif (state === 1) {\nflow.set(\"gas_state_text\", \"CO2 в норме\"); \n//Past_State_gas = 1;\n    if (ab != 1){\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"👌CO2 в норме: \"+ PV + \"%\"\n}};\n\n}\nflow.set('pst_g', 1);\n}\n\nelse if (state === 2) {\nflow.set(\"gas_state_text\", \"Превышение CO2\");    \nPast_State_gas =2 ;\n    if (ab != 2) {\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"⏫Превышение CO2 \"+ PV + \"%\"\n}};\n\n}\nflow.set('pst_g', 2);\n}\n\nelse if (state === 3) {\nflow.set(\"gas_state_text\", \"Критическое превышение CO2\");\nPast_State_gas = 3;\n    if (ab != 3) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🔼Критическое превышение CO2:  \"+ PV + \"%\"\n}};\n\n}\nflow.set('pst_g', 3);\n}\nelse if (state === 4) {\n    flow.set(\"gas_state_text\", \"Низкий уровень CO2\");\n    Past_State_gas = 4;\n    if (ab != 4) {\n    \nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🔽Низкий уровень CO2: \"+ PV+\"%\"\n}};\n\n}\n    flow.set('pst_g', 4);\n}\n\nelse if (state === 5) {\nflow.set(\"gas_state_text\", \"Критически низкий уровень CO2\");\nPast_State_gas = 5;\n    if (ab != 2) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"⏬Критически низкий уровень CO2: \"+ PV+\"%\"\n}};\n\n}\n    flow.set('pst_g', 5);\n}\n\nelse if (state === 6) {\nflow.set(\"gas_state_text\", \"ОШИБКА CO2\");\nPast_State_gas = 6;\n    if (ab != 6) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка CO2?:  \"+ PV+\"%\"\n}};\n\n        \n    }\n    flow.set('pst_g', 6);\n}\nelse if (state === 10) {\nflow.set(\"gas_state_text\", \"ОШИБКА CO2. Датчик недоступен\");\nPast_State_gas = 10;\n    if (ab != 10) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка CO2? Датчик недоступен:  \"+ PV+\"%\"\n}};\n\n        \n    }\n    flow.set('pst_g', 10);\n}\nelse {msg.payload = state;}\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1180,"wires":[["e0c393bf.420bc","e34c63cb.8dc35"]]},{"id":"e0c393bf.420bc","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":780,"wires":[]},{"id":"5055b2f8.fd01dc","type":"function","z":"25c28b50.d8afa4","name":"","func":"const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n//const msgs = []\nlet ab = flow.get('pst_p') || -1;\n\n let chat_id = flow.get('chat_id_par', 'file');\n\nfor(var i = 0; i< chat_id.length; i++) {\n\n\nif (state === 1) {\nflow.set(\"par_state_text\", \"Уровень частиц в норме\"); \n//Past_State_par = 1;\n    if (ab != 1){\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"👌Уровень частиц в норме: \"+ PV + \"ppm\"\n}};\n\n}\nflow.set('pst_p', 1);\n}\n\nelse if (state === 2) {\nflow.set(\"par_state_text\", \"Превышение уровня частиц\");    \nPast_State_par =2 ;\n    if (ab != 2) {\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🔼Превышение уровня частиц: \"+ PV + \"ppm\"\n}};\n\n}\nflow.set('pst_p', 2);\n}\n\nelse if (state === 3) {\nflow.set(\"par_state_text\", \"Критическое превышение уровня частиц\");\nPast_State_par = 3;\n    if (ab != 3) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"⏫Критическое превышение уровня частиц:  \"+ PV + \"ppm\"\n}};\n\n}\nflow.set('pst_p', 3);\n}\nelse if (state === 4) {\n    flow.set(\"par_state_text\", \"Низкий уровень частиц\");\n    Past_State_par = 4;\n    if (ab != 4) {\n    \nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🔽Низкий уровень частиц: \"+ PV+\"ppm\"\n}};\n\n}\n    flow.set('pst_p', 4);\n}\n\nelse if (state === 5) {\nflow.set(\"par_state_text\", \"Критически низкий уровень частиц\");\nPast_State_par = 5;\n    if (ab != 2) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"⏬Критически низкий уровень частиц: \"+ PV+\"ppm\"\n}};\n\n}\n    flow.set('pst_p', 5);\n}\n\nelse if (state === 6) {\nflow.set(\"par_state_text\", \"ОШИБКА. Уровень частиц недоступен\");\nPast_State_par = 6;\n    if (ab != 6) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка? Уровень частиц недоступен:  \"+ PV+\"ppm\"\n}};\n\n        \n    }\n    flow.set('pst_p', 6);\n}\nelse if (state === 10) {\nflow.set(\"par_state_text\", \"ОШИБКА. Датчик уровня частиц недоступен\");\nPast_State_par = 10;\n    if (ab != 10) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка? Датчик уровня частиц недоступен:  \"+ PV+\"ppm\"\n}};\n\n        \n    }\n    flow.set('pst_p', 10);\n}\nelse {msg.payload = state;}\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1220,"wires":[["2b7e8538.a679ca","e34c63cb.8dc35"]]},{"id":"2b7e8538.a679ca","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":820,"wires":[]},{"id":"c5e9f53b.702428","type":"function","z":"25c28b50.d8afa4","name":"","func":"const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n//const msgs = []\nlet ab = flow.get('pst_p') || -1;\n\n let chat_id = flow.get('chat_id_pressure', 'file');\n\nfor(var i = 0; i< chat_id.length; i++) {\n\n\nif (state === 1) {\nflow.set(\"pres_state_text\", \"Давление в норме\"); \n//Past_State_pres = 1;\n    if (ab != 1){\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"👌Давление в норме: \"+ PV + \"атм\"\n}};\n\n}\nflow.set('pst_p', 1);\n}\n\nelse if (state === 2) {\nflow.set(\"pres_state_text\", \"Превышение давления\");    \nPast_State_pres =2 ;\n    if (ab != 2) {\nmsg = { payload: {\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🔼Превышение давления: \"+ PV + \"атм\"\n}};\n\n}\nflow.set('pst_p', 2);\n}\n\nelse if (state === 3) {\nflow.set(\"pres_state_text\", \"Критическое превышение давления\");\nPast_State_pres = 3;\n    if (ab != 3) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"⏫Критическое превышение давления:  \"+ PV + \"атм\"\n}};\n\n}\nflow.set('pst_p', 3);\n}\nelse if (state === 4) {\n    flow.set(\"pres_state_text\", \"Низкое давление\");\n    Past_State_pres = 4;\n    if (ab != 4) {\n    \nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"🔽Низкое давление: \"+ PV+\"атм\"\n}};\n\n}\n    flow.set('pst_p', 4);\n}\n\nelse if (state === 5) {\nflow.set(\"pres_state_text\", \"Критически низкое давление\");\nPast_State_pres = 5;\n    if (ab != 2) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"⏬Критически низкое давление: \"+ PV+\"атм\"\n}};\n\n}\n    flow.set('pst_p', 5);\n}\n\nelse if (state === 6) {\nflow.set(\"pres_state_text\", \"ОШИБКА Давления\");\nPast_State_pres = 6;\n    if (ab != 6) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка Давления:  \"+ PV+\"атм\"\n}};\n\n        \n    }\n    flow.set('pst_p', 6);\n}\n\nelse if (state === 10) {\nflow.set(\"pres_state_text\", \"ОШИБКА. Датчик давления недоступен\");\nPast_State_press = 10;\n    if (ab != 10) {\nmsg = { payload:{\n    \"chatId\": chat_id[i],\n    \"type\": \"message\",\n    \"content\":\"Ошибка? Датчик давления недоступен:  \"+ PV+\"атм\"\n}};\n\n        \n    }\n    flow.set('pst_p', 10);\n}\nelse {msg.payload = state;}\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1260,"wires":[["238fcf82.ca70d","e34c63cb.8dc35"]]},{"id":"238fcf82.ca70d","type":"debug","z":"25c28b50.d8afa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":860,"wires":[]},{"id":"760dc210.40ddcc","type":"telegram command","z":"25c28b50.d8afa4","name":"/subgas","command":"/subgas","description":"sub hum","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":870,"y":2280,"wires":[["fe65c184.b4cf6"]]},{"id":"fe65c184.b4cf6","type":"function","z":"25c28b50.d8afa4","name":"sub gas","func":"let id_gas = flow.get('chat_id_gas', 'file');\nlet index = id_gas.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_gas.push(msg.payload.chatId);    \n    flow.set('chat_id_gas', id_gas);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *CO2* успешно оформлена \";\n}\nelse {\n    id_gas.splice(index);\n    flow.set('chat_id_gas', id_gas);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"❎Подписка на *CO2* успешно отменена \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":2280,"wires":[["e34c63cb.8dc35","3b2727d9.08f418"]]},{"id":"2bee7e79.af1b02","type":"function","z":"25c28b50.d8afa4","name":"sub par","func":"\nlet id_par = flow.get('chat_id_par', 'file');\nlet index = id_par.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_par.push(msg.payload.chatId);    \n    flow.set('chat_id_par', id_par);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *Частицы* успешно оформлена \";\n}\nelse {\n    id_par.splice(index);\n    flow.set('chat_id_par', id_par);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"❎Подписка на *Частицы* успешно отменена \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":2340,"wires":[["e34c63cb.8dc35","465ea95a.5c3db8"]]},{"id":"99cdfeb7.f1d4","type":"telegram command","z":"25c28b50.d8afa4","name":"/subgas","command":"/subgas@lab_bc_bot","description":"sub hum","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":870,"y":2280,"wires":[["fe65c184.b4cf6"]]},{"id":"5ff1cddc.443674","type":"telegram command","z":"25c28b50.d8afa4","name":"/subpar","command":"/subpar","description":"sub temp","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":870,"y":2340,"wires":[["2bee7e79.af1b02"]]},{"id":"92d6f797.ed6f88","type":"telegram command","z":"25c28b50.d8afa4","name":"/subpres","command":"/subpres","description":"sub hum","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":880,"y":2400,"wires":[["e1089aea.911ce8"]]},{"id":"e1089aea.911ce8","type":"function","z":"25c28b50.d8afa4","name":"sub pres!","func":"let id_pressure = flow.get('chat_id_pressure', 'file');\nlet index = id_pressure.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_pressure.push(msg.payload.chatId);    \n    flow.set('chat_id_pressure', id_pressure );\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *Давление* успешно оформлена \";\n}\nelse {\n    id_pressure.splice(index);\n    flow.set('chat_id_pressure', id_pressure);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"❎Подписка на *Давление* успешно отменена \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":2400,"wires":[["e34c63cb.8dc35","2b944b9e.f665d4"]]},{"id":"dd02154e.6f7c88","type":"function","z":"25c28b50.d8afa4","name":"co2 gas unit","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst Gas = flow.get(\"gas\") || 0;\nconst gas_state = flow.get(\"gas_state_text\") || 0;\nconst sGas = `СО2: ${Gas} %\\r\\nСостояние: ${gas_state}`;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = sGas;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1980,"wires":[["e34c63cb.8dc35","adfa5532.3cd008"]]},{"id":"6ae406dc.f766d8","type":"telegram command","z":"25c28b50.d8afa4","name":"/co2","command":"/co2","description":"Влажность","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":1980,"wires":[["dd02154e.6f7c88"]]},{"id":"3e7bb7af.f217d8","type":"function","z":"25c28b50.d8afa4","name":"particle unit","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst par = flow.get(\"particle\") || 0;\nconst par_state = flow.get(\"par_state_text\") || 0;\nconst sPar = `Частицы: ${par} ppm\\r\\nСостояние: ${par_state}`;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = sPar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":2040,"wires":[["e34c63cb.8dc35","5563b537.92cd8c"]]},{"id":"7b26c38d.3a272c","type":"telegram command","z":"25c28b50.d8afa4","name":"/par","command":"/par","description":"Влажность","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":2040,"wires":[["3e7bb7af.f217d8"]]},{"id":"cd0202cd.41213","type":"function","z":"25c28b50.d8afa4","name":"pressure unit","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst pres = flow.get(\"pressure\") || 0;\nconst pres_state = flow.get(\"pres_state_text\") || 0;\nconst spres = `Давление: ${pres} атм\\r\\nСостояние: ${pres_state}`;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = spres;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":2100,"wires":[["e34c63cb.8dc35","bd11acef.9c672"]]},{"id":"7bdd04d8.cefffc","type":"telegram command","z":"25c28b50.d8afa4","name":"/pres","command":"/pres","description":"Влажность","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":2100,"wires":[["cd0202cd.41213"]]},{"id":"cb943198.efda3","type":"function","z":"25c28b50.d8afa4","name":"pres bme280","func":"var helpMessage2 = \"🔬*Информация о датчике BME280:* \\r\\n\";\n\nconst pres = flow.get(\"pressure\") || 0;\nconst spres = `СО2: ${pres} атм`;\n\n\nhelpMessage2 += \"Датчик, измереяющий давление в окружающем его пространстве\\r\\n\\n\";\n\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n\nmsg.payload.content = helpMessage2 ;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":2060,"wires":[["e34c63cb.8dc35","f7b33485.a413f8"]]},{"id":"5e97f9fd.be52c8","type":"telegram command","z":"25c28b50.d8afa4","name":"/BME280","command":"/BME280","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1080,"y":2060,"wires":[["cb943198.efda3"]]},{"id":"1eb0db7a.216205","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":2160,"wires":[["84c5f520.a95a78"]]},{"id":"6adf435.ed435bc","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":2220,"wires":[["84c5f520.a95a78"]]},{"id":"3b2727d9.08f418","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":2280,"wires":[["84c5f520.a95a78"]]},{"id":"465ea95a.5c3db8","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":2340,"wires":[["84c5f520.a95a78"]]},{"id":"2b944b9e.f665d4","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":2400,"wires":[["84c5f520.a95a78"]]},{"id":"f0b1e02b.2999","type":"telegram command","z":"25c28b50.d8afa4","name":"/hum","command":"/hum","description":"Влажность","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":1920,"wires":[["7483e97a.76c008"]]},{"id":"95ad67db.4beae8","type":"function","z":"25c28b50.d8afa4","name":"sens list","func":"var helpMessage2 =\"⚙ *Команды для мониторинга оборудования: *\\r\\n\";\nhelpMessage2 += \"/temp - Отслеживание температуры\\r\\n\";\nhelpMessage2 += \"/hum - Отслеживание влажности\\r\\n\";\nhelpMessage2 += \"/co2 - Отслеживание углекислого газа\\r\\n\";\nhelpMessage2 += \"/par - Отслеживание частиц\\r\\n\";\nhelpMessage2 += \"/pres - Отслеживание давления\\r\\n\\n\";\n\n\nhelpMessage2 += \"*/start -- главное меню* \" ;\nhelpMessage2 += \"\\r\\n\";\n\n\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n//msg.payload.options = {parse_mode: \"Markdown\"};\nmsg.payload.content = helpMessage2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2220,"wires":[["e34c63cb.8dc35"]]},{"id":"c919758e.2ade78","type":"telegram command","z":"25c28b50.d8afa4","name":"/sens","command":"/sens","description":"","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":230,"y":2160,"wires":[["95ad67db.4beae8"]]},{"id":"56e2b51b.93a6cc","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":1880,"wires":[["95ad67db.4beae8"]]},{"id":"63ed9f87.1bb85","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":1940,"wires":[["95ad67db.4beae8"]]},{"id":"adfa5532.3cd008","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":2000,"wires":[["95ad67db.4beae8"]]},{"id":"5563b537.92cd8c","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":2060,"wires":[["95ad67db.4beae8"]]},{"id":"bd11acef.9c672","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":2100,"wires":[["95ad67db.4beae8"]]},{"id":"84c5f520.a95a78","type":"function","z":"25c28b50.d8afa4","name":"sublist","func":"var helpMessage2 = \"🔬*Подписаться или отписаться от параметров оборудования:* \\r\\n\\n /subAll - Подписаться на все параметры \\r\\n\\n\";\n\n\nlet id_tmp = flow.get('chat_id_temp', 'file');\nlet index_tmp = id_tmp.indexOf(msg.payload.chatId);\n\nlet id_hum = flow.get('chat_id_hum', 'file');\nlet index_hum = id_hum.indexOf(msg.payload.chatId);\n\nlet id_gas = flow.get('chat_id_gas', 'file');\nlet index_gas = id_gas.indexOf(msg.payload.chatId);\n\nlet id_par = flow.get('chat_id_par', 'file');\nlet index_par = id_par.indexOf(msg.payload.chatId);\n\nlet id_pressure = flow.get('chat_id_pressure', 'file');\nlet index_pres = id_pressure.indexOf(msg.payload.chatId);\n\n\nhelpMessage2 += \"/subtemp - Температура\";\nif (index_tmp == -1) {helpMessage2 += \" ❎\\r\\n\"}\nelse {helpMessage2 += \" ✅\\r\\n\"}\nhelpMessage2 += \"/subhum - Влажность\";\nif (index_hum == -1) {helpMessage2 += \" ❎\\r\\n\"}\nelse {helpMessage2 += \" ✅\\r\\n\"}\nhelpMessage2 += \"/subgas - CO2\";\nif (index_gas == -1) {helpMessage2 += \" ❎\\r\\n\"}\nelse {helpMessage2 += \" ✅\\r\\n\"}\nhelpMessage2 += \"/subpar - Частицы\";\nif (index_par == -1) {helpMessage2 += \" ❎\\r\\n\"}\nelse {helpMessage2 += \" ✅\\r\\n\"}\n\nhelpMessage2 += \"/subpres - Давление\";\nif (index_pres == -1) {helpMessage2 += \" ❎\\r\\n\"}\nelse {helpMessage2 += \" ✅\\r\\n\"}\n\n\n\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = helpMessage2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":2100,"wires":[["e34c63cb.8dc35"]]},{"id":"decddc36.5babb","type":"telegram command","z":"25c28b50.d8afa4","name":"/sub             ","command":"/sub@lab_bc_bot","description":"Sub","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":890,"y":2100,"wires":[["84c5f520.a95a78"]]},{"id":"e3c28ae2.50dbb8","type":"telegram command","z":"25c28b50.d8afa4","name":"/all","command":"/all","description":"Влажность","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":350,"y":1600,"wires":[["2a81f63e.3a851a","770521c9.d032c","99f50f89.49f83","cf8b9243.280b2","3b87c8dc.b77468"]]},{"id":"15831cf9.a7b6d3","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1510,"y":1880,"wires":[["770521c9.d032c","2a81f63e.3a851a"]]},{"id":"b6a31ae2.d80a38","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1510,"y":1940,"wires":[["cf8b9243.280b2"]]},{"id":"3dd9742.f7a428c","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1510,"y":2000,"wires":[["99f50f89.49f83"]]},{"id":"f7b33485.a413f8","type":"delay","z":"25c28b50.d8afa4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1510,"y":2040,"wires":[["3b87c8dc.b77468"]]},{"id":"2a81f63e.3a851a","type":"function","z":"25c28b50.d8afa4","name":"temp","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst temp = flow.get(\"Temperature\") || 0;\nconst temp_state = flow.get(\"temp_state_text\") || 0;\n\n\n\nconst sTemp = `Температура: ${temp} °C\\r\\nСостояние: ${temp_state}`;\n\n\n\n\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n\nmsg.payload.content = sTemp;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1480,"wires":[["e34c63cb.8dc35"]]},{"id":"770521c9.d032c","type":"function","z":"25c28b50.d8afa4","name":"hum","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst Hum = flow.get(\"Humidity\") || 0;\nconst hum_state = flow.get(\"hum_state_text\") || 0;\n\n\nconst sHum = `Влажность: ${Hum} %\\r\\nСостояние: ${hum_state}`;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = sHum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1520,"wires":[["e34c63cb.8dc35"]]},{"id":"99f50f89.49f83","type":"function","z":"25c28b50.d8afa4","name":"co2","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst Gas = flow.get(\"gas\") || 0;\nconst gas_state = flow.get(\"gas_state_text\") || 0;\nconst sGas = `СО2: ${Gas} %\\r\\nСостояние: ${gas_state}`;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = sGas;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1560,"wires":[["e34c63cb.8dc35"]]},{"id":"cf8b9243.280b2","type":"function","z":"25c28b50.d8afa4","name":"par","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst par = flow.get(\"particle\") || 0;\nconst par_state = flow.get(\"par_state_text\") || 0;\nconst sPar = `Частицы: ${par} ppm\\r\\nСостояние: ${par_state}`;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = sPar;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1600,"wires":[["e34c63cb.8dc35"]]},{"id":"3b87c8dc.b77468","type":"function","z":"25c28b50.d8afa4","name":"pres","func":"//const {id, PV, HH, H, L, LL, delayHH, delayH, delayL, delayLL, timerHH, timerH, timerL, timerLL, state, flag, mask, ts} = msg.payload;\n\nconst pres = flow.get(\"pressure\") || 0;\nconst pres_state = flow.get(\"pres_state_text\") || 0;\nconst spres = `Давление: ${pres} атм\\r\\nСостояние: ${pres_state}`;\nmsg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\nmsg.payload.content = spres;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1640,"wires":[["e34c63cb.8dc35"]]},{"id":"13d27b3e.a123d5","type":"function","z":"25c28b50.d8afa4","name":"","func":"","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nflow.set('chat_id_temp', [840472850], 'file');\n","finalize":"","libs":[],"x":1160,"y":1120,"wires":[[]]},{"id":"c8a5f56e.dbb4e8","type":"function","z":"25c28b50.d8afa4","name":"","func":"","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\n\nflow.set('chat_id_hum', [840472850], 'file');","finalize":"","libs":[],"x":1160,"y":1160,"wires":[[]]},{"id":"168d3d9c.df2f42","type":"function","z":"25c28b50.d8afa4","name":"","func":"","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nflow.set('chat_id_gas', [840472850], 'file');","finalize":"","libs":[],"x":1160,"y":1200,"wires":[[]]},{"id":"f893ca4d.7e4788","type":"function","z":"25c28b50.d8afa4","name":"","func":"","outputs":1,"noerr":0,"initialize":"// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\n\nflow.set('chat_id_par', [840472850], 'file');","finalize":"","libs":[],"x":1160,"y":1240,"wires":[[]]},{"id":"31b3f3c0.2932bc","type":"function","z":"25c28b50.d8afa4","name":"","func":"","outputs":1,"noerr":0,"initialize":"flow.set('chat_id_pressure', [840472850], 'file');","finalize":"","libs":[],"x":1160,"y":1280,"wires":[[]]},{"id":"c4df1f58.7b3fa","type":"telegram command","z":"25c28b50.d8afa4","name":"/debug","command":"/debug_real_0101","description":"snc","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":930,"y":1200,"wires":[["13d27b3e.a123d5","c8a5f56e.dbb4e8","168d3d9c.df2f42","f893ca4d.7e4788","31b3f3c0.2932bc"]]},{"id":"c0cef788.ecd138","type":"function","z":"25c28b50.d8afa4","name":"sub temp ","func":"let id_tmp = flow.get('chat_id_temp', 'file');\nlet index = id_tmp.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_tmp.push(msg.payload.chatId);    \n    flow.set('chat_id_temp', id_tmp);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *Температуру* успешно оформлена \";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1400,"wires":[["e34c63cb.8dc35"]]},{"id":"86c27bd5.b90d48","type":"function","z":"25c28b50.d8afa4","name":"sub hum","func":"\nlet id_hum = flow.get('chat_id_hum', 'file');\nlet index = id_hum.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_hum.push(msg.payload.chatId);    \n    flow.set('chat_id_hum', id_hum);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *Влажность* успешно оформлена \";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1460,"wires":[["e34c63cb.8dc35"]]},{"id":"f4f8c965.f3d368","type":"function","z":"25c28b50.d8afa4","name":"sub gas","func":"let id_gas = flow.get('chat_id_gas', 'file');\nlet index = id_gas.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_gas.push(msg.payload.chatId);    \n    flow.set('chat_id_gas', id_gas);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *CO2* успешно оформлена \";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1520,"wires":[["e34c63cb.8dc35"]]},{"id":"c407f76c.b6f1f8","type":"function","z":"25c28b50.d8afa4","name":"sub par","func":"\nlet id_par = flow.get('chat_id_par', 'file');\nlet index = id_par.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_par.push(msg.payload.chatId);    \n    flow.set('chat_id_par', id_par);\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *Частицы* успешно оформлена \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1580,"wires":[["e34c63cb.8dc35"]]},{"id":"f400538a.0aeb4","type":"function","z":"25c28b50.d8afa4","name":"sub pres!","func":"let id_pressure = flow.get('chat_id_pressure', 'file');\nlet index = id_pressure.indexOf(msg.payload.chatId);\n\nif (index == -1) {\n    id_pressure.push(msg.payload.chatId);    \n    flow.set('chat_id_pressure', id_pressure );\n    msg.payload.options = {disable_web_page_preview: true, parse_mode: \"Markdown\"};\n    msg.payload.content = \"✅Подписка на *Давление* успешно оформлена \";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1640,"wires":[["e34c63cb.8dc35"]]},{"id":"ebe24d28.74a6f","type":"telegram command","z":"25c28b50.d8afa4","name":"/subAll","command":"/subAll","description":"snc","registercommand":false,"bot":"88a919e6.c184a8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1150,"y":1440,"wires":[["c0cef788.ecd138","86c27bd5.b90d48","f4f8c965.f3d368","c407f76c.b6f1f8","f400538a.0aeb4"]]}]